<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Tous les propostions de formations</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
    
                <div class="col-md-4">
                    
                    <div class="form-group">
                        <label for="statusFilter" class="control-label"> Trier par :</label>
                        <select class="form-control" [(ngModel)]="critereFiltre" name="statusFilter"  
                                                    (change)="onFetchPropositionFormation($event.target.value)">
                            <option  value="0" selected="selected">Tous</option>
                            <option  value="1">En ligne</option>
                            <option  value="2">En attente</option>
                            <option  value="3">Réfusées</option>
                            <option  value="4">Supprimées</option>

    
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
    
            </div>
    
        </div>
       

        <div class="tab-inn">
            <div class="table-responsive">
                <div style="width: 100%;overflow: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Par :</th>
                                <th>numero</th>
                                <th>Date création</th>
                                <th>Date demande en Ligne</th>
                                <th>Date Mise en Ligne</th>
                                <th>Date Refus en Ligne</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <p *ngIf="propositionsFormations.length == 0">Aucun élément</p>
                            <tr *ngFor="let p of propositionsFormations">
                                <td>{{p.id}}</td>
                                <td>{{p.particulier?.nom}} {{p.particulier?.prenoms}}</td>
                                <td>{{p.particulier.telephone}}</td>
                                <td>{{p.dateCreation |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td>{{p.dateDemandeMiseEnLigne |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td>{{p.dateMiseEnLigne |date:"yyyy-MM-dd HH:mm:ss"}} </td>
                                <td>{{p.dateRefusMiseEnLigne |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td><span *ngIf="p.enLigne" class="label label-success">En ligne</span>
                                    <span *ngIf="p.attenteMiseEnLigne" class="label label-info">En attente</span>
                                    <span *ngIf="p.refusMiseEnLigne" class="label label-danger">Refusé</span>
                                    <span *ngIf="p.suppressionMiseEnLigne" class="label label-primary">Hors-ligne</span>                                
                                    <span *ngIf="!p.refusMiseEnLigne
                                                    && !p.refusMiseEnLigne 
                                                    && !p.attenteMiseEnLigne 
                                                    && !p.enLigne 
                                                    && !p.suppressionMiseEnLigne" class="label label-warning">En édition</span>
    
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class=' btn btn-success waves-effect dropdown-button' id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul id='top-menu' class='top-menu-sty dropdown-menu dropdown-menu-right'>
                                            <li><a *ngIf=" !p.attenteMiseEnLigne &&
                                                            !p.enLigne &&
                                                            !p.refusMiseEnLigne &&
                                                            !p.suppressionMiseEnLigne"
                                                     class="isDisabled"                        
                                                     class="waves-effect">Détails</a>
                                            <a *ngIf="p.attenteMiseEnLigne ||
                                                     p.enLigne ||
                                                     p.refusMiseEnLigne ||
                                                     p.suppressionMiseEnLigne"
                                             [routerLink]="[p.id]"
                                              class="waves-effect">Détails</a>
                                            </li>
                                            <li class="divider"></li> 
    
                                            <li><a *ngIf="!p.attenteMiseEnLigne"
                                                    class="waves-effect isDisabled">Mettre en ligne</a>
                                                
                                                    <a *ngIf="p.attenteMiseEnLigne" (click)="onAccorderMiseEnLigne(p.id)"
                                                    class="waves-effect">Mettre en ligne</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a *ngIf="!p.attenteMiseEnLigne" data-toggle="modal" 
                                                 class="ho-dr-con-last waves-effect isDisabled">Refuser Mise en ligne</a>
    
                                                 <a *ngIf="p.attenteMiseEnLigne" data-toggle="modal" data-target="#ajouterRefus"
                                                 (click)="prepareToRefusEnLigne(p.id)"
                                                 class="ho-dr-con-last waves-effect">Refuser Mise en ligne</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a *ngIf="!p.enLigne"  
                                                    class="ho-dr-con-last waves-effect isDisabled">Mettre Hors ligne</a>
    
                                                 <a *ngIf="p.enLigne"
                                                    (click)="supprimerMiseEnLigne(p.id)" 
                                                    class="ho-dr-con-last waves-effect">Mettre Hors ligne</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                </td>
    
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <!-- <div class="pg-pagina">
                <ul class="pagination">
                    <li [ngClass]="{'active': (i+1) === page }" 
                    (click)= "(i+1)" *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>


<div class="modal fade" id="ajouterRefus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Libelle-->
                    <div class="form-group">
                        <label for="refus">Cause du refus :</label>
                        <select class="form-control" id="refus" [(ngModel)]="causeRefusId"  required>
                            <option *ngFor="let cf of causeRefusTab" [ngValue]="cf.id">{{cf.titre}}</option>
                        </select>
                    </div>
                    <button (click)="onRefuserMiseEnLigne()" type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            <div class="modal-footer"> 
                <button id="closeModalChoixRefus" type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

