<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                    <form>
                        <div class="sf-type">
                            <div class="sf-input">
                                <input type="text" id="sf-box" placeholder="Search course and discount courses">
                            </div>
                            <div class="sf-list">
                                <ul>
                                    <li><a href="course-details.html">Accounting/Finance</a></li>
                                    <li><a href="course-details.html">civil engineering</a></li>
                                    <li><a href="course-details.html">Art/Design</a></li>
                                    <li><a href="course-details.html">Marine Engineering</a></li>
                                    <li><a href="course-details.html">Business Management</a></li>
                                    <li><a href="course-details.html">Journalism/Writing</a></li>
                                    <li><a href="course-details.html">Physical Education</a></li>
                                    <li><a href="course-details.html">Political Science</a></li>
                                    <li><a href="course-details.html">Sciences</a></li>
                                    <li><a href="course-details.html">Statistics</a></li>
                                    <li><a href="course-details.html">Web Design/Development</a></li>
                                    <li><a href="course-details.html">SEO</a></li>
                                    <li><a href="course-details.html">Google Business</a></li>
                                    <li><a href="course-details.html">Graphics Design</a></li>
                                    <li><a href="course-details.html">Networking Courses</a></li>
                                    <li><a href="course-details.html">InpropositionFormation technology</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sf-submit">
                            <input type="submit" value="Rechercher">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPULAR COURSES -->
   <section class="pop-cour">
    <div class="container com-sp pad-bot-70">
         <div class="row">
            <div class="con-title">
                <h2>Les <span>Cours</span></h2>
            </div>
        </div> 
        <div class="row" *ngFor="let propositionFormation of propositionFormations">
            <a [routerLink]="['details-formation', propositionFormation.id]" ><div class="col-md-8">
                <div style="border-radius: 0.3em;" class="home-top-cour">
                    <!--POPULAR COURSES IMAGE-->
                    <div class="col-md-3"> <img width="50" height="120" src="{{urlServer}}/{{propositionFormation.idParticulier}}" alt=""> </div>
                    <!--POPULAR COURSES: CONTENT-->
                    <div class="col-md-9 home-top-cour-desc">
                        <a href="course-details.html">
                            <h3>{{propositionFormation.prenomParticulier}}</h3>
                        </a>
                        <h4><span *ngFor="let moduleFomation of propositionFormation.moduleFormations">{{moduleFomation.libelle}} </span></h4>
                        <p>{{propositionFormation.description}}</p> 
                        <div class="hom-list-share">
                    
                        </div>
                    </div>
                </div>
            </div></a>
           </div>
    </div>
</section>
