<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                    <form>
                        <div class="sf-type">
                            <div class="sf-input">
                                <input type="text"  class="form-contol" [(ngModel)]="v" id="sf-box" placeholder="Search course and discount courses">
                            </div>

                        </div>
                        <div class="sf-submit">
                            <input type="submit"  value="Rechercher">
                        </div>
                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPULAR COURSES -->
   <section class="pop-cour">
    <div class="container com-sp pad-bot-70">
         <div class="row">
            <div class="con-title">
                <h2>Les <span>Cours </span> </h2>
            </div> 
            <p>la date : {{ladate | date}}</p>
        </div> 

    <!-- unsimple input pour verifier le filter-->
        <div>
            <input type="text" class="form-contol" [(ngModel)]="valeur">
        </div>
        <h4>{{valeur}}</h4> 

        <input type="text" [(ngModel)]="filterText">
        <ul>
            <li *ngFor="let todo of todos | filter:filterText">
                    {{todo}}
            </li>
        </ul>
        
        <div class="row" *ngFor="let propositionFormation of propositionFormations ">
            <a [routerLink]="['details-formation', propositionFormation.id]" ><div class="col-md-8">
                <div style="border-radius: 0.3em;" class="home-top-cour">
                    <!--POPULAR COURSES IMAGE-->
                    <div class="col-md-3"> <img width="50" height="120" src="{{urlServer}}/{{propositionFormation.idParticulier}}" alt=""> </div>
                    <!--POPULAR COURSES: CONTENT-->
                    <div class="col-md-9 home-top-cour-desc">
                        <a href="course-details.html">
                            <h3>{{propositionFormation.prenomParticulier}}</h3>
                        </a>
                        <h4><span *ngFor="let moduleFomation of propositionFormation.moduleFormations">{{moduleFomation.libelle}} </span></h4>
                        <p>{{propositionFormation.description}}</p> 
                        <div class="hom-list-share">
                    
                        </div>
                    </div>
                </div>
            </div></a>
           </div>
    </div>
</section>
