<div class="sb2-1">
    <!--== USER INFO ==-->
    <div class="sb2-12">
        <ul>
            <li><img src="../../assets/images/placeholder.jpg" alt="">
            </li>
            <li>
                <h5>Victoria Baker <span> Santa Ana, CA</span></h5>
            </li>
        </ul>
    </div>
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a href="#" routerLink="dashboard"  class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li><a href="#" routerLink="classe"><i class="fa fa-user"></i> Classe</a></li>
            <li><a href="#" routerLink="filiere"><i class="fa fa-book"></i>Filière</a></li>
            <li><a href="#" routerLink="cycle"><i class="fa fa-user"></i>Cycle</a></li>
            <li><a href="#" routerLink="forfait"><i class="fa fa-money"></i>Forfait</a></li>
            <li><a href="#" routerLink="niveau"><i class="fa fa-university"></i>Niveau</a></li>
            <li><a routerLink="jour">Jours</a></li>
            <li><a routerLink="ville">Villes</a></li>
            <li><a routerLink="formation">Formations</a></li>
            <li><a href="#" routerLink="paiements"><i class="fa fa-money"></i>Paiements effectués</a></li>
            <li><a href="#" routerLink="comptabilite"><i class="fa fa-money"></i>Comptabilité cours communs</a></li>
            <li><a href="#" routerLink="demandeVirements"><i class="fa fa-money"></i>Demandes de virements <span class="badge badge-light">{{nombreDemandeVirement}}</span></a></li>
            <li><a href="#" routerLink="particulierpropositions"><i class="fa fa-money"></i>Particuliers consultés</a></li>
            <li><a href="#" routerLink="customers"><i class="fa fa-user"></i>Les utilisateurs</a></li>
            <li><a href="#" routerLink="causerefus"><i class="fa fa-user"></i>Causes de refus</a></li>
            <li><a href="#" routerLink="propositonsformations"><i class="fa fa-user"></i>Propostions Formations</a></li>
            <li><a href="#" routerLink="coursCommun"><i class="fa fa-user"></i>Cours Commun</a></li>
    
        </ul>
    </div>
</div> 