  <!--== User Details ==-->
  <!-- src="../../assets/images/placeholder.jpg" -->
  <div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
        <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <img style="width: 10em;height: 10em;" src="{{url}}" alt="">
                    <div style="float: right;">
                        <h4 style="background-color: red;">Editer profil</h4>
                    </div>
                </div>

                <div class="tab-inn">

                    <form [formGroup]="userForm" (ngSubmit)="onUpdateParticulier()">
                        <div class="row">
                            <div class="input-field col s6">
                                <input  id="first_name" type="text" placeholder="nom"  formControlName="nom" class="validate" />
                               
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" placeholder="prenoms" formControlName="prenoms" type="text" class="validate" />
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="phone" type="text" placeholder="telephone" formControlName="telephone"  class="validate" />
                               
                            </div>
                            <div class="input-field col s6">
                                <input id="city" placeholder="Lieu d'Habitation" formControlName="lieuHabitation" type="text" class="validate">
                                
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="input-field col s6">
                                <input    placeholder="Niveau d'etude" formControlName="niveau"  type="text" class="validate">
                                
                            </div>
                            <div class="input-field col s6">
                                <input  placeholder="Filiere" formControlName="filiere" type="text" class="validate">
                                
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="input-field col s6">
                                <input id="password1" placeholder="Nouveau mot de passe" formControlName="password" type="password" class="validate">
                                
                            </div>
                            <div class="input-field col s6">
                                <input type="file" (change)="onFileChange($event)" #fileInput class="validate">
                            </div>
                        </div>
                                                
                        <button type="submit" [disabled]="userForm.invalid" class="btn btn-outline-info">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
