<!--== User Details ==-->
<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Niveaux</h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
                <button type="button" data-toggle="modal" data-target="#ajouterNiveau" class="btn btn-primary">
                    Ajouter
                </button>
                <div style="margin-top: 2em;" *ngIf="erreur" class="alert alert-danger">
                    {{erreur}}
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>date de creation</th> 
                            <th>date de modification</th>            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let niveau of niveaux">
                           
                            <td>{{niveau.libelle}}</td>
                            <td>{{niveau.dateCreation|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{niveau.dateModification|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateNiveau" (click)="getNiveau(niveau.id)"> Modifier</button></td>
                            <td><button type="button" class="btn btn-danger" (click)="deleteNiveau(niveau.id)">Supprimer</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="pg-pagina">
              <ul class="pagination">
                  <li [ngClass]="{'active': (i+1) === page }" 
                  (click)= "onFetchNiveaux(i+1)" *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
              </ul>
          </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ajouterNiveau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enregistrer un Niveau</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  (ngSubmit)="onSaveNiveau(niveau)" #f="ngForm">
                <div class="form-group">
                    <label for="libelle" class="control-label">Libelle:</label>
                    <input type="text" id="libelle" name="libelle" [(ngModel)]="niveau.libelle" required class="form-control">
                </div>
                <button  type="submit" [disabled] = "f.invalid" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updateNiveau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier le Niveau</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  (ngSubmit)="onUpdateNiveau(niveau1)" #f2="ngForm">
                <div class="form-group">
                    <label for="libelle" class="control-label">Libelle:</label>
                    <input type="text" id="libelle" name="libelle" [(ngModel)]="niveau1.libelle" required class="form-control">
                </div>
                <button  type="submit" [disabled] = "f2.invalid" class="btn btn-primary m-1">Enregistrer</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>