<div class="sb2-1">
    <!--== USER INFO ==-->
    <div class="sb2-12">
        <ul>
            <li><img *ngIf="particulier.id" src="{{urlServer}}/{{particulier.id}}" alt="">
            </li>
            <li>
                <h5>{{particulier.nom}} {{particulier.prenom}} </h5>
            </li>
            <li></li>
        </ul>
    </div>
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a href="#" routerLink="dashboard"  class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li><a href="#" routerLink="formations">Proposition de formation</a></li>
           

        </ul>
    </div>
</div> 