
<!--== DASHBOARD INFO ==-->
<div class="sb2-2-1">
    <h2>Admin Dashboard</h2>
    <div class="db-2">
        <ul>
            <li>
                <div class="dash-book dash-b-1">
                    <h5>Particuliers</h5>
                    <h4>{{detailsDahboard.nombreParticuliers}}</h4>
                    <a href="#">View more</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-2">
                    <h5>Paiements</h5>
                    <h4>{{detailsDahboard.nombrePaiements}}</h4>
                    <a href="#">View more</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-3">
                    <h5>Profils visités</h5>
                    <h4>{{detailsDahboard.nombreProfilsConsultes}}</h4>
                    <a href="#">View more</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-4">
                    <h5>En attente</h5>
                    <h4>{{detailsDahboard.nombrepropositionsEnAttenteValidation}}</h4>
                    <a href="#">View more</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--== User Details ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Paiements</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <div style="width: 100%;overflow: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Par :</th>
                                        <th>Forfait</th>
                                        <th>Requete(s) restante(s)</th>
                                        <th>Date de paiement</th>
                                        <th>Date d'expiration</th>
                                        <th>Status</th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let paiement of detailsDahboard.paiements">
                                        <td><span class="list-img"><img src="{{urlServer}}/{{paiement.particulier.id}}"
                                                    alt=""></span>
                                        <td>{{paiement.particulier.nom}} {{paiement.particulier.prenoms}} </td>
                                        <td>{{paiement.forfait.name}}</td>
                                        <td>{{paiement.nbreRequeteRestante}}</td>
                                        <td>{{paiement.datePaiement |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                        <td>{{paiement.dateFin |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                        <td>
                                            <span *ngIf="paiement.actif" class="label label-success">Actif</span>
                                            <span *ngIf="!paiement.actif" class="label label-danger">Inactif</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--== User Details ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Nouveaux inscrits</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <div style="width: 100%;overflow: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nom Prenoms</th>
                                        <th>Date Inscription</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of detailsDahboard.particuliers">
                                        <td><span class="list-img"><img src="{{urlServer}}/{{p.id}}" alt=""></span>
                                        <td>{{p.nom}} {{p.prenoms}} </td>
                                        <td>{{p.dateCreation |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                        <td>
                                            <span *ngIf="p.compte.enabled" class="label label-success">Actif</span>
                                            <span *ngIf="!p.compte.enabled" class="label label-danger">Inactif</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sb2-2-3">
    <div class="row">
        <!--== Country Campaigns ==-->
        <div class="col-md-6">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Propositions en attentes</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <div style="width: 100%;overflow: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Identifiant</th>
                                        <th>Par :</th>
                                        <th>Date demande en Ligne</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <p *ngIf="detailsDahboard.prpositionsEnAttenteValidation?.length == 0">Aucun élément</p>
                                    <tr *ngFor="let p of detailsDahboard.prpositionsEnAttenteValidation">
                                        <td>{{p.id}}</td>
                                        <td>{{p.particulier?.nom}} {{p.particulier?.prenoms}}</td>
                                        <td>{{p.dateDemandeMiseEnLigne |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                        <td>
                                            <span *ngIf="p.attenteMiseEnLigne" class="label label-info">En attente</span>
    
                                        </td>
    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--== Country Campaigns ==-->
        <div class="col-md-6">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Profils consultés</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <div style="width: 100%;overflow: auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th> 
                                        <th>Souscripteur</th> 
                                        <th></th> 
                                        <th>Particullier consulté</th>
                                        <th>Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pp of detailsDahboard.profilsConsultes">
                                        <td><span class="list-img"><img src="{{urlServer}}/{{pp.particulier.id}}" alt=""></span>
                                        <td>{{pp.particulier.nom}} {{pp.particulier.prenoms}} </td>
                                        <td><span class="list-img"><img src="{{urlServer}}/{{pp.propositionFormation.particulier.id}}" alt=""></span>
                                        <td>{{pp.propositionFormation.particulier.nom}} {{pp.propositionFormation.particulier.prenoms}}</td>
                                        <td>{{pp.dateConsultation |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                        
                                </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

