<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section style="background: #002147;">
    <!-- LOGIN SECTION -->
    <div id="modal1">
        <div class="log-in-pop">
            <div class="log-in-pop-left">

                <h1>Hello...</h1>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
                <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <h4>Renitialisation du mot de passe</h4>
                <div *ngIf="!formVisible" class="modal-header center">
                    <span class="alert alert-warnig">Le lien a expiré</span>
                </div>
                <form *ngIf="formVisible" [formGroup]="resetPasswordForm" class="s12" (submit)="onResetPassword()">
                    <div>

                        <div class="input-field s12">
                            <input formControlName="password" type="password" class="validate">
                            <label>Nouveau mot de passe</label>
                                <small class="invalid-feedback" *ngIf="resetPasswordForm.controls.password.errors?.required">Champ requis</small>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input formControlName="confirmPassword" type="password" class="validate">
                            <label>Confirmer mot de passe</label>
                            <small class="invalid-feedback" *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required">Champ requis</small>
                            <small class="invalid-feedback" *ngIf="resetPasswordForm.controls.confirmPassword.errors?.passwordMatch">
                                Les mots de passes doivent correspondre
                            </small>
                        </div>
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input [disabled]="resetPasswordForm.invalid" type="submit" value="Submit"
                                class="waves-effect waves-light log-in-btn">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


</section>