
<app-search-bar-cours-commun (getCoursCommunFiltrees)="filterCoursCommunParCode($event)"></app-search-bar-cours-commun>
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>Les <span>Cours organisés</span></h2>
            </div>
        </div>

        <div *ngIf="coursCommuns.length == 0" style="width: 20em;margin: auto;">
            <span style="color: crimson;"  >Aucun resultat  correspondant.</span>
        </div>
       <div class="row">
        <div class="row" *ngFor="let cours of coursCommuns" class="col-md-5">

            <div >
                <app-card-cours-commun [cours]="cours"></app-card-cours-commun>

            </div>

    </div>
       </div>

       
        <div class="row">
            <div class="pg-pagina">
                <ul class="pagination">
                    <li [ngClass]="{'active': (i+1) === page }" (click)="onFectCoursCommunHome(i+1)"
                        *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
                </ul>
            </div> 
        </div>
    </div>

    




</section>