

<!-- POPULAR COURSES -->
<section class="pop-cour">
    <div class="container-fuild com-sp">
        <div class="row">
            <div class="con-title">
                <h2><span style="color: #002147;">Les </span><span>cours</span><span style="color: #002147;"> Organisés</span></h2>
            </div>
        </div>
        <div style="text-align: center;" *ngIf="coursCommuns.length == 0" >
            <p>Aucun cours organisés pour le moment.</p>
            <p>Vous désirez organiser un cours ? N'hésitez pas, mettez votre cours en  ligne <a style="color: #FF5722;" routerLink="/customers/courscommun">ici</a></p>

        </div>  
        <div class="container">

    <div class="row">
        <div *ngFor="let cours of coursCommuns" class="col-mobile">
              <app-card-cours-commun [cours]="cours"></app-card-cours-commun>
        </div>
</div>
<div *ngIf="isNombreMaxAtteint" style="width: 50px;margin: auto;">
    <button [routerLink]="['/courscommun']" class="btn"  style="background: #EF612F 0% 0% no-repeat padding-box;color: #002147;border-radius: 25px; font-weight: bold;">Voir plus 
        <img height="15" width="15"  src="../../../assets/images/fleche_bas.png" alt="">
    </button>
</div>

</div>
       
       
</div>
<div style="width: 100%;height: 150px;background: #FFFFFF 0% 0% no-repeat padding-box; margin-top: 30px;">

</div> 
</section>

