@media screen  and (max-width: 990px){
    

    .col-md-4{
    position: relative; 
    min-height: 0px !important; 
    padding-right: 0px !important; 
    padding-left: 0px !important;
    }
  
  }
  

  section{
    padding: 0px !important;
  }
  