

<!-- POPULAR COURSES -->
<section class="pop-cour">
    <div class="container com-sp">
        <div class="row">
            <div class="con-title">
                <h2>Les <span>cours Organisés</span></h2>
            </div>
        </div>
        <div style="text-align: center;" *ngIf="coursCommuns.length == 0" >
            <p>Aucun cours organisés pour le moment.</p>
            <p>Vous désirez organiser un cours ? N'hésitez pas, mettez votre cours en  ligne <a style="color: #FF5722;" routerLink="/customers/courscommun">ici</a></p>

        </div>  
        <div class="container">

    <div class="row">
        <div *ngFor="let cours of coursCommuns" class="col-md-4 col-mobile">
              <app-card-cours-commun [cours]="cours"></app-card-cours-commun>
        </div>

</div>
  </div>
       
        <div *ngIf="isNombreMaxAtteint" class="con-title">
            <a [routerLink]="['/courscommun']">
                <p>Voir plus ...</p>
            </a>
        </div>
       
    </div> 
</section>

