<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="col-md-10">
                <div class="search-form"> 
                        <div class="sf-type">
                            <div class="sf-input">
                                <input type="text" 
                                [(ngModel)]="criterRecherche" id="sf-box" placeholder="Search">
                            </div>
                        
                        </div>

                    </div>
                    <div class="sf-submit">
                        <input [routerLink]="['/formations',criterRecherche]"  
                              type="submit" (click)="onFiltreFormationSearch(criterRecherche)" value="Rechercher">
                    </div>
               </div>
             
              <div class="col-md-2">
                    
                <div>
                    <select  [(ngModel)]="designationVille" name="statusFilter"
                             (change)="OnFiterDeFormationParVille($event.target.value)">
                        
                        <option *ngFor="let ville of villes"  
                        (ngvalue)="ville.designation">{{ville.designation}}</option>

                    </select> 
                 </div>
            </div>
          </div>
        </div>
    </div>
</div>
