<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section style="background: #002147;">
    <!-- LOGIN SECTION -->
    <div id="modal1">
        <div class="log-in-pop">
            <div class="log-in-pop-left">

                <h1>Hello...</h1>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
                <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <h4>Login</h4>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
                <div *ngIf="isFailed" class="modal-header center">
                    <span class="alert alert-danger">Vérifier vos informations de connexion </span>
                </div>
                <form  [formGroup]="loginForm" class="s12" (submit)="onLogin()">
                    <div>
                        <div class="input-field s12">
                            <input formControlName="username" type="text" data-ng-model="name" class="validate">
                            <label>Adresse e-mail</label>
                        </div>
                        <div *ngIf="loginForm.controls.username.errors?.email" class="invalid-feedback">
                            Adresse e-mail non valide
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input formControlName="password" type="password" class="validate">
                            <label>Password</label>
                        </div>

                    </div>
                    <div>
                        <div class="s12 log-ch-bx">
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Remember me</label>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input [disabled]="loginForm.invalid" type="submit" value="Login"
                                class="waves-effect waves-light log-in-btn">
                        </div>

                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" routerLink="/home/forgot-password">Forgot password</a>
                            | <a href="#" routerLink="/home/sign-in">Create a new account</a> </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</section>



