<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section style="background: #002147;">
    <!-- LOGIN SECTION -->
    <div id="modal1">
        <div class="log-in-pop">
            <div class="log-in-pop-left">

                <h1>Connectez vous...</h1>
                <p>Enseignants, répétiteurs, formateurs, structures éducatives, organisations, étudiants, parents d'élèves, élèves<br> <strong>ProfAkounda</strong> est votre ami fidèle.</p><br/>

                <!-- <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul> -->
            </div>
            <div class="log-in-pop-right">
                <h4>Connexion</h4>
                 <div *ngIf="errorInternet" class="modal-header center">
                    <p class="alert alert-danger">Vérifiez votre connexion à internet</p>
                </div>
                <div *ngIf="isFailed" class="modal-header center">
                    <p class="alert alert-danger">Vérifiez vos informations de connexion </p>
                </div> 
                <form  [formGroup]="loginForm" class="s12" (submit)="onLogin()">
                    <div>
                        <div class="input-field s12">
                            <input formControlName="username" type="email" data-ng-model="name" class="validate" 
                            autocomplete="email">
                            <label>Adresse e-mail</label>
                        </div>
                        <small *ngIf="loginForm.controls.username.errors?.email" class="invalid-feedback">
                            Adresse e-mail non valide
                        </small>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input formControlName="password" type="password" class="validate">
                            <label>Mot de passe</label>
                        </div>

                    </div>
                    <div>
<!--                         <div class="s12 log-ch-bx">
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Remember me</label>
                            </p>
                        </div>
 -->                    </div>
                    <div>
                        <div class="input-field s4">
                            <input [disabled]="loginForm.invalid" type="submit" value="Se connecter"
                                class="waves-effect waves-light log-in-btn">
                        </div>

                    </div>
                    <div>
                        <div class="input-field s12"> 
                            <a routerLink="/home/forgot-password">Mot de passe oublié ?</a>
                            <a style="margin-left: 1em;" routerLink="/home/sign-up">Créer un compte</a> </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</section>



