<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section style="background: #002147;">
    <!-- LOGIN SECTION -->
    <div id="modal1">
        <div class="log-in-pop">
            <div class="log-in-pop-left">

                <h1>Hello...</h1>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
                <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <h4>Validation de compte</h4>
                <div *ngIf="isValid==1" class="modal-header center alert alert-danger">
                    <div style="padding: 0.5em;"   class="row">
                      <p>Le lien est incorrect !</p>
                    </div>
                  </div>
                  <div  *ngIf="isValid==0" class="modal-header center alert alert-success">
                    <div style="padding: 0.5em;"   class="row">
                      <p>Super ! Votre compte a été activé avec succès, connectez-vous svp</p>
                    </div>
                  </div>
                  <div *ngIf="isValid==2"  class="modal-header center alert alert-warning">
                    <div style="padding: 0.5em;"   class="row">
                      <p>Votre compte est deja activé, connectez-vous svp</p> 
                    </div>
                  </div>
                        
            </div>
        </div>
    </div>
</section>