<div class="ed-rese-grid ed-rese-grid-mar-bot-30">
    <div class="ed-rsear-img ed-faci-full-top">
            <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="ed-rsear-dec ed-faci-full-bot">
            <h4><a>{{cours.coursCommun.organisation.libelle}} - {{cours.coursCommun.titre}}</a></h4>
            <p style="height: 8em;
                        width: 25em;
                        white-space: pre-wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;"
            >{{cours.coursCommun.description}}</p>
            <a [routerLink]="['/courscommun/details',cours.coursCommun.id]"  class="details-line-btn">Détails</a>
           
    </div>
</div>