<!-- <div class="ed-rese-grid ed-rese-grid-mar-bot-30">
    <div class="ed-rsear-img ed-faci-full-top">
        <img  height="250" src="{{urlServer}}/{{cours.coursCommun.id}}" alt="">
    </div>
   <div class="ed-rsear-dec ed-faci-full-bot">
            <h4><p  style="height: 4em;
                        width: 100%;
                        white-space: pre-wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;"

                        
            
            ><a>{{cours.coursCommun.organisation.libelle}}<br><span style="color: #896BEE;font-size: 14px;">{{cours.coursCommun.titre}}</span></a></p></h4>

            
            <p style="height: 8em;
                        width: 80%;
                        white-space: pre-wrap; 
                        overflow: hidden; 
                        text-overflow: ellipsis;" 
            >{{cours.coursCommun.description}}</p> 
            <div class="detail" id="div">
               <a [routerLink]="['/courscommun/details',cours.coursCommun.id]"  class="details-line-btn">Détails</a> 
            </div>
         
            <div class="dropup" id="div">
                <button class="details-line-btn"   type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i  class="fa fa-share-alt" aria-hidden="true"></i> 
                   <span class="caret"></span>
                </button>
                
                    <ul class="dropdown-menu" aria-labelledby="share"> 
                        <li class="dropdown-item" (click)="chargerTwitter()">
                            <a  target="_blank"><i  aria-hidden="true" style="margin: 0.5em;"   class="fa fa-twitter-square"></i>Twitter</a>
                        </li>
                        <li (click)="chargerFace()" class="dropdown-item">
                            <a    target="_blank"><i aria-hidden="true"  style="margin: 0.5em;" class="fa fa-facebook-square"></i>Facebook</a>
                        </li>
                        <li (click)="chargerLink()" class="dropdown-item">
                            <a    target="_blank"><i aria-hidden="true"  style="margin: 0.5em;" class="fa fa-linkedin-square"></i>Linkedin</a>
                        </li>
                    </ul>
            </div>
        
    </div>
</div>  -->


<div class="row cardCoursCommun ed-rese-grid ed-rese-grid-mar-bot-30">
    
        <div class="col-md-4">
            <div class="ed-rsear-img ed-faci-full-top">
                <img  height="200" src="{{urlServer}}/{{cours.coursCommun.id}}" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="coursCommunTitle">{{cours.coursCommun.titre}}</h1>
            <h2 class="coursCommunSubTitle">{{cours.coursCommun.organisation.libelle}}</h2>
            <div style="margin-top: 5px;" class="row">
                <p  style="margin-left: 5px;color: #002147;font-weight: bold;font-size: 15px;">Cours de préparation pour les examens et les concours notamment les sus-nommés... </p>
                <img style="float: left;margin-right: 13px; margin-left: 5px;" height="25" width="25"  src="../../../assets/images/calendrier.png" alt="">
                <p style="justify-items: center; color:  #707070;">{{cours.coursCommun?.dateDebut  |date:"dd MMMM yyyy "}}</p>
                <img style="float: left;margin-right: 13px; margin-left: 5px;" height="25" width="25"  src="../../../assets/images/location.png" alt="">
                <p style="justify-items: center;color:  #707070;">{{cours.lieuIntervention.libelle}}</p>
            </div>
        </div>
   
</div> 