<div class="ed-rese-grid ed-rese-grid-mar-bot-30">
    <div class="ed-rsear-img ed-faci-full-top">
        <img  height="250" src="{{urlServer}}/{{cours.coursCommun.id}}" alt="">
</div>
   <div class="ed-rsear-dec ed-faci-full-bot">
            <h4><p  style="height: 4em;
                        width: 100%;
                        white-space: pre-wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;"

                        
            
            ><a>{{cours.coursCommun.organisation.libelle}}<br><span style="color: #896BEE;font-size: 14px;">{{cours.coursCommun.titre}}</span></a></p></h4>

            
            <p style="height: 8em;
                        width: 80%;
                        white-space: pre-wrap; 
                        overflow: hidden; 
                        text-overflow: ellipsis;" 
            >{{cours.coursCommun.description}}</p> 
            <div class="detail" id="div">
               <a [routerLink]="['/courscommun/details',cours.coursCommun.id]"  class="details-line-btn">Détails</a> 
            </div>
         
            <div class="dropup" id="div">
                <button  style="background-color: white; color: yellowgreen;" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i  class="fa fa-share-alt" aria-hidden="true"></i> partager
                   <span class="caret"></span>
                </button>
                
                    <ul class="dropdown-menu" aria-labelledby="share"> 
                        <li class="dropdown-item" (click)="chargerTwitter()">
                            <a  target="_blank"><i _ngcontent-vsn-c7=""  aria-hidden="true"   class="fa fa-twitter-square"></i>twitter</a>
                        </li>
                        <li (click)="chargerFace()" class="dropdown-item">
                            <a    target="_blank"><i _ngcontent-vsn-c7="" aria-hidden="true"  style="margin-top: 0.5em;margin-bottom: 0.5em;" class="fa fa-facebook-square"></i>facebook</a>
                        </li>
                        <li (click)="chargerLink()" class="dropdown-item">
                            <a    target="_blank"><i _ngcontent-vsn-c7="" aria-hidden="true"  class="fa fa-linkedin-square"></i>linkedin</a>
                        </li>
                    </ul>
            </div>
        
    </div>
</div> 