<!--SECTION START-->
<section>
    <div class="pro-cover">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">

            <agm-circle [latitude]="lat" [longitude]="lng" [circleDraggable]="true" [editable]="false"
                [fillColor]="green" [strokeColor]="green" [radius]="radius" [clickable]="false"
                (radiusChange)="changeRaduis($event)">
            </agm-circle>
        </agm-map>
    </div>

    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user">
                    <img *ngIf="propositionFormation.idParticulier" 
                            src="{{ urlServer}}/{{propositionFormation.idParticulier}}" 
                            alt="user">
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>{{propositionFormation.prenomParticulier}}</h4>
                        </li>
                        <li>{{propositionFormation.niveau?.libelle}}</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="udb">

                    <div class="udb-sec">
                            <button class="btn btn-success btn-lg btn-block"  data-toggle="modal" data-target="#exampleModal">Me contacter</button>
                    </div>

                    <div class="udb-sec udb-prof">
                        <h4><img src="../../assets/images/icon/db1.png" alt=""/>Description</h4>
                        <p>{{propositionFormation.description}}</p>
                    </div>

                    <div class="udb-sec udb-cour">
                        <h4><img src="../../assets/images/icon/db2.png" alt=""/> Mes Formations</h4>
                        <div class="sdb-cours">
                            <ul>
                                <li *ngFor="let moduleFormation of propositionFormation.modulesFormations">
                                    <a>
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="../../assets/images/course/3.jpg" alt=""> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>{{moduleFormation.libelle}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="udb-sec udb-cour-stat">
                        <h4><img src="../../assets/images/icon/db3.png" alt="" />Niveaux cibles</h4>
                        <div class="pro-con-table">
                            <table class="bordered responsive-table">
                                <thead>
                                    <tr>
                                        <th>Niveaux</th>
                                        <th class="align-text-right">Prix Minimun(Mensuel)</th>
                                        <th class="align-text-right">Prix Maximum(Mensuel)</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let contrat of propositionFormation.contrats">
                                        <td>{{contrat.classe.libelle}}</td>
                                        <td class="align-text-right"><span class="pro-user-act">{{contrat.minMontant}} FCFA</span></td>
                                        <td class="align-text-right"><span class="pro-user-act">{{contrat.maxMontant}} FCFA</span></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="udb-sec udb-time">
                        <h4><img src="../../assets/images/icon/db4.png" alt="" />Mes disponibilités</h4>
                       
                        <div class="tour_head1 udb-time-line days">
                            <ul>
                                <li *ngFor="let disponibilite of propositionFormation.disponibilites " class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <div class="sdb-cl-tim">
                                        <div class="sdb-cl-day">
                                            <h5>{{disponibilite.jour}}</h5>
                                        </div>
                                        <div class="sdb-cl-class">
                                            <ul>
                                                <li *ngFor="let heure of disponibilite.heures">
                                                    <div  class="sdb-cl-class-tim tooltipped" data-position="top"
                                                        data-delay="50">
                                                        <span>{{heure?.heureDebut}}</span>
                                                        <span>{{heure?.heureFin}}</span>
                                                    </div>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!--Modal de paiement-->> 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class=" modal-dialog">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">     
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="personal"><strong>Personal</strong></li>
                                    <li id="payment"><strong>Payment</strong></li>
                                    <li id="confirm"><strong>Finish</strong></li>
                                </ul> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Personal</h2>
                                         
                                    </div> 
                                    <input type="button" name="next" class="next action-button"
                                        value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Payment</h2>
                                         
                                    </div> 
                                    <input type="button" name="next" class="next action-button"
                                        value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Finish</h2>
                                         
                                    </div> 
                                    <input data-dismiss = "modal" type="button" name="next" class="next action-button"
                                        value="Next Step" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</section>
<!--SECTION END-->