<!--SECTION START-->
<section>
    <div *ngIf="propositionFormation.rayonIntervention" class="pro-cover">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

            <agm-circle [latitude]="lat" [longitude]="lng" [circleDraggable]="true" [editable]="false" [radius]="radius"
                [clickable]="false" (radiusChange)="changeRaduis($event)">
            </agm-circle>
        </agm-map>
    </div>

    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user">
                    <img *ngIf="propositionFormation.idParticulier"
                        src="{{ urlServer}}/{{propositionFormation.idParticulier}}" alt="user">
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>{{propositionFormation.code}}</h4>
                        </li>
                        <li>{{propositionFormation.niveau?.libelle}}</li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>

                                {{propositionFormation?.ville ? propositionFormation.ville : '' }}
                                <span *ngIf="propositionFormation.commune">,</span>
                                {{propositionFormation?.commune ? propositionFormation.commune : ''}}
                        </li>



                    </ul>
                </div>

            </div>
            <div class="col-md-9">

                <div *ngIf="paymentWaiting" class="modal-header center alert alert-success">
                    <div style="padding: 0.5em;"   class="row">
                      <p><strong>Demande de paiement envoyée !</strong></p>
                      <p>Cliquez sur le bouton <strong>Me contacter</strong> une fois le paiement confirmé ! </p>
                    </div>
                  </div>


                <div class="udb-sec">
                    <h4><img src="../../assets/images/icon/db1.png" alt="" />Description</h4>
                        <p [innerHTML]="propositionFormation.description"></p>
                 </div>


                <div class="udb">

                    <div class="udb-sec">

                     <!--    <div class="tel">
                        <a href=""><span><i style="color: white;" class="fa fa-phone fa-5x"></i></span></a>
                       </div> -->

                        <button id="meContacterBtn" (click)="contactCustomer()" style="border-radius:10em;
                                                                    background-color:#002147 !important;height: 3.5em;
                                                                    font-weight: 1000;"
                            class="btn btn-lg btn-block my-2"><i style="font-size: 25px;" class="fa fa-phone"></i> Me contacter </button>
                    </div>



                    <!-- <div class="udb-sec udb-prof">
                        <h4><img src="../../assets/images/icon/db1.png" alt="" />Description</h4>
                        <p>{{propositionFormation.description}}</p>
                    </div> -->

                    <div *ngIf="propositionFormation.cyclePrimairePresent"  class="modal-header center">
                        <p class="alert alert-warning">
                            Pour les niveaux touchant les <strong>cours préparatoires (CP), les cours élémentaires (CE) ou les cours moyens (CM),</strong>
                            toutes les matières seront dispensées par cet enseignant.</p>
                    </div>

                    <div *ngIf="!propositionFormation.isAllModule" class="udb-sec udb-cour">
                        <h4><img src="../../assets/images/icon/db2.png" alt="" /> Mes Formations</h4>
                        <div class="sdb-cours">
                            <ul>
                                <li *ngFor="let moduleFormation of propositionFormation.modulesFormations">
                                    <a>
                                        <div class="list-mig-like-com com-mar-bot-30">
                                            <div class="list-mig-lc-img"> <img src="../../assets/images/course/3.jpg"
                                                    alt=""> </div>
                                            <div class="list-mig-lc-con">
                                                <h5>{{moduleFormation.libelle}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div  class="udb-sec udb-cour-stat">
                        <h4 *ngIf="!propositionFormation.isAllNiveau"><img src="../../assets/images/icon/db3.png" alt="" />Niveaux cibles</h4>
                        <h4 *ngIf="propositionFormation.isAllNiveau"> <i class="fa fa-money"></i> COÛT</h4>
                        <div class="pro-con-table table-responsive">
                            <table class="bordered table">
                                <thead>
                                    <tr>
                                        <th *ngIf="!propositionFormation.isAllNiveau">Niveaux</th>
                                        <th class="align-text-right">Coût</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let contrat of propositionFormation.contrats">
                                        <td *ngIf="!propositionFormation.isAllNiveau">{{contrat.niveau?.libelle}} {{contrat.niveauTemporaire?.libelle}}</td>
                                        <td class="align-text-right"><span
                                                class="pro-user-act">{{contrat.minMontant | currency:'XOF'}}
                                            </span></td>
                                        <!-- <td class="align-text-right"><span class="pro-user-act">{{contrat.maxMontant | currency:'XOF'}}
                                                </span></td> -->

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="udb-sec udb-time">
                        <h4><img src="../../assets/images/icon/db4.png" alt="" />Mes disponibilités</h4>

                        <div class="tour_head1 udb-time-line days">
                            <ul>
                                <li *ngFor="let disponibilite of propositionFormation.disponibilites"
                                    class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <div class="sdb-cl-tim">
                                        <div class="sdb-cl-day">
                                            <h5>{{disponibilite.jour}}</h5>
                                        </div>
                                        <div class="sdb-cl-class">
                                            <ul>
                                                <li *ngFor="let heure of disponibilite.heures">
                                                    <div class="sdb-cl-class-tim tooltipped" data-position="top"
                                                        data-delay="50">
                                                        <span>{{heure?.heureDebut}}</span>
                                                        <span>{{heure?.heureFin}}</span>
                                                    </div>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div id="UpdateComments" class="udb-sec udb-time">
                        <h4><i class="fa fa-comment" aria-hidden="true"></i> Notes et Commentaires </h4>

                        <div class="tour_head1 udb-time-line2 days">
                            <div style="width: 10em;margin: auto;">
                                <a class="btn btn-primary" *ngIf="isConnected && !isProprio" data-toggle="collapse"
                                    href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Mon avis
                                </a>
                                <a *ngIf="!isConnected" (click)="showAlert()" class="btn btn-primary">
                                    Mon avis
                                </a>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <form (ngSubmit)="enregistrerCommentaire()" #k="ngForm">
                                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                    <div style="margin-top: 0.5em;" class="form-group">
                                        <label for="note">Note:</label>

                                        <i (click)="changeEtoile1()" [ngStyle]="{color:getColor1()}"
                                            class="fa fa-star etoileNote"></i>

                                        <i (click)="changeEtoile2()" [ngStyle]="{color:getColor2()}"
                                            class="fa fa-star etoileNote"></i>

                                        <i (click)="changeEtoile3()" [ngStyle]="{color:getColor3()}"
                                            class="fa fa-star etoileNote"></i>

                                        <i (click)="changeEtoile4()" [ngStyle]="{color:getColor4()}"
                                            class="fa fa-star etoileNote"></i>

                                        <i (click)="changeEtoile5()" [ngStyle]="{color:getColor5()}"
                                            class="fa fa-star etoileNote"></i>
                                    </div>

                                    <div class="form-group">
                                        <label for="commentaire">Commentaire:</label>
                                        <textarea [(ngModel)]="avis.commentaire" class="form-control" required
                                            id="commentaire" name="commentaire" cols="20" rows="5">
                                        </textarea>
                                    </div>
                                    <button type="submit" [disabled]="k.invalid"
                                        class="btn btn-danger">Enregistrer</button>
                                </form>
                            </div>
                            <div style="height: 18em;overflow: auto;">
                                <div style="margin-top: 1em;" *ngFor="let av of tabAvis ">
                                    <div style="border-radius: 0.5em 0.5em 0 0; background-color: white !important;"
                                        class="sb2-12 ">
                                        <ul>
                                            <li><img src="{{urlServer}}/{{av.idParticulier}}" alt="">
                                            </li>
                                            <li>
                                                <h5 style="color: #007BFF;">{{av.nomParticulier}}
                                                    {{av.prenomParticulier}} </h5>
                                                <div>
                                                    <i [ngStyle]="{color:getColor(av.etoile1)}"
                                                        class="fa fa-star etoile"></i><i
                                                        [ngStyle]="{color:getColor(av.etoile2)}"
                                                        class="fa fa-star etoile"></i> <i
                                                        [ngStyle]="{color:getColor(av.etoile3)}"
                                                        class="fa fa-star etoile"></i> <i
                                                        [ngStyle]="{color:getColor(av.etoile4)}"
                                                        class="fa fa-star etoile"></i><i
                                                        [ngStyle]="{color:getColor(av.etoile5)}"
                                                        class="fa fa-star etoile"></i>
                                                </div>
                                                <div>{{av.commentaire}}</div>
                                            </li>
                                            <div *ngIf="id===av.idParticulier" style="margin-top: 0.5em;"><a
                                                    href="#UpdateComments" (click)="getAvis(av)" data-toggle="collapse"
                                                    href="#collapseExample" aria-expanded="false"
                                                    aria-controls="collapseExample" style="color: blue;">Modifier</a>
                                            </div>
                                        </ul>


                                        <span class="home-top-cour-rat">{{av.date}}</span>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--SECTION END-->
<section>
    <!--Modal for Payment-->
    <div id="modalPayment" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 stepper">
                                <div style="text-align: right; margin-bottom: 1em;" class="row">
                                    <a (click)="initializeModalPayment()" data-dismiss="modal"  id="ed-mi-close" class="ed-mi-close"><i class="fa fa-times" style="color: gainsboro;"></i></a>

                                </div>
                                <ul class="progressbar">
                                    <li id="step1" class="active"><span class="headersStepper">Connexion</span></li>
                                    <li id="step2"><span class="headersStepper">Forfaits</span></li>
                                    <li id="step3"><span class="headersStepper">Mode de paiement</span></li>
                                    <li id="step4"><span class="headersStepper">Récapitulatif</span></li>
                                    <li id="step5"><span class="headersStepper">Confirmation</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!--Login-->
                                <div id="content1-signin">
                                    <div *ngIf="errorInternet" class="modal-header center">
                                        <p class="alert alert-danger">Vérifier votre connexion à internet</p>
                                    </div>
                                    <div *ngIf="isFailed" class="modal-header center">
                                        <p class="alert alert-danger">Vérifier vos informations de connexion
                                        </p>
                                    </div>
                                    <form [formGroup]="sigInForm" (submit)="onSignIn()">
                                        <div class="input-field s12">
                                            <input type="text" data-ng-model="name" class="validate"
                                                formControlName="username">
                                            <label>Adresse e-mail</label>
                                        </div>
                                        <small *ngIf="sigInForm.controls.username.errors?.email"
                                            class="invalid-feedback">
                                            Adresse e-mail non valide
                                        </small>
                                        <div class="input-field s12">
                                            <input type="password" data-ng-model="name" class="validate"
                                                formControlName="password">
                                            <label>Mot de passe</label>
                                        </div>
                                        <div *ngIf="" class="invalid-feedback">
                                            Adresse e-mail non valide
                                        </div>
                                        <div class="form-group">
                                            <button [disabled]="sigInForm.invalid" type="submit"
                                                class="btn btn-bg-color btn-block">Se
                                                connecter</button>
                                        </div>

                                    </form>
                                    <p (click)="goToSignUp()" class="text-center"><button class="btn-link">Creer
                                            un compte</button></p>
                                </div>
                                <!--Inscription-->
                                <div id="content1-signup" class="hide">
                                    <div *ngIf="message" class="modal-header center">
                                        <p class="alert alert-danger">{{message}}</p>
                                    </div>
                                    <form [formGroup]="singUpForm" (submit)="onSignUp()">
                                        <div>
                                            <div class="input-field s12">
                                                <input type="text" data-ng-model="name" class="validate"
                                                    formControlName="email">
                                                <label>Adresse e-mail</label>
                                            </div>
                                            <small *ngIf="singUpForm.controls.email.errors?.email"
                                                class="invalid-feedback">
                                                Adresse e-mail non valide
                                            </small>
                                        </div>

                                        <div>
                                            <div class="input-field s12">
                                                <input type="password" data-ng-model="name" class="validate"
                                                    formControlName="password">
                                                <label>Mot de passe</label>
                                            </div>

                                        </div>
                                        <div>
                                            <div class="input-field s12">
                                                <input type="password" data-ng-model="name" class="validate"
                                                    formControlName="passwordConfirm">
                                                <label>Confirmer votre mot de passe</label>
                                            </div>
                                            <small class="invalid-feedback"
                                                *ngIf="singUpForm.controls.passwordConfirm.errors?.passwordMatch">
                                                Les mots de passes doivent correspondre
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <button [disabled]="singUpForm.invalid" type="submit"
                                                class="btn btn-bg-color btn-block">S'inscrire</button>
                                        </div>

                                    </form>
                                    <p #goToSignin (click)="goToSignIn()" class="text-center"><button
                                            class="btn-link">Se
                                            connecter</button></p>
                                </div>
                                <!--Forfaits-->
                                <div id="content2" class="hide">

                                    <p style="margin-top: 0.5em;" style="text-align: center;">Un <strong>forfait</strong>
                                        vous donne accès aux contacts d'un formateur.
                                    <br>Le nombre de <strong>requêtes</strong> d'un forfait constitue le nombre de formateurs que vous pouvez
                                    consulter sachant qu'un contact vous coûtera une requête.</p>
                                    <div class="tab-inn">
                                        <div style="width: 100%;overflow: auto;" class="table-responsive table-desi">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Forfait</th>
                                                        <th>Requêtes</th>
                                                        <th>Valide pour :</th>
                                                        <th>Montant</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let forfait of forfaits; let i=index">
                                                        <td>
                                                            <input (change)="forfaitChange()" [value]="forfait"
                                                                type="radio" name="forfait"
                                                                [(ngModel)]="paiementDetails.forfait" class="filled-in"
                                                                id="filled-in-box-{{i}}" />
                                                            <label for="filled-in-box-{{i}}"></label>
                                                        </td>
                                                        <td>{{forfait.name}}</td>
                                                        <td>{{forfait.nbreRequete}}</td>
                                                        <td>{{forfait.nbreJour}} jour(s)</td>
                                                        <td class="align-text-right"><span
                                                                class="pro-user-act">{{forfait.montant | currency : 'XOF'}}
                                                                </span></td>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <button id="nextBtnForfait" disabled (click)=next()
                                        class="btn btn-bg-color btn-block">Suivant</button>

                                </div>
                                <!--Mode de paiement-->
                                <div id="content3" class=" hide">
                                    <form [formGroup]="operatorForm" (submit)="next()">

                                    <div class="form-check-inline text-center">

                                        <p>Choississez un opérateur :</p>
                                        <div class="row">
                                            <input  type="radio" value="MOMO_SKAN"
                                            formControlName="operator" name="operator"
                                            [(ngModel)]="paiementDetails.modePaiement"
                                            class="filled-in" id="mtn" />
                                            <label for="mtn">MTN CI</label>

                                         <!--    <input disabled  value="MOOV_SKAN" type="radio"
                                            formControlName="operator" name="operator"
                                            [(ngModel)]="paiementDetails.modePaiement"
                                            class="filled-in" id="moov" />
                                            <label for="moov">MOOV CI</label> -->

                                            <input  value="OM_SKAN" type="radio"
                                            formControlName="operator" name="operator"
                                            [(ngModel)]="paiementDetails.modePaiement"
                                                class="filled-in" id="orange" />
                                            <label for="orange">ORANGE CI</label>

                                        </div>
                                    </div>

                                    <div class="input-field s12">
                                        <input
                                            formControlName="numero"
                                            [(ngModel)]="paiementDetails.numeroPaiement"
                                            pattern="[0-9]*"
                                            data-ng-model="name" class="validate">
                                        <label>Entrez votre numéro</label>
                                        <small style="color: red;"
                                        *ngIf="operatorForm.controls.numero.errors?.required ||
                                        operatorForm.controls.numero.errors?.maxlength ||
                                        operatorForm.controls.numero.errors?.minlength " class="invalid-feedback">
                                            Entrez un numéro de téléphone valide  (10 chiffres)
                                    </small>
                                    </div>

                                    <button id="nextBtnPaiement" [disabled]="operatorForm.invalid"
                                        class="btn btn-bg-color btn-block">Suivant</button>
                                </form>
                                </div>
                            </div>


                            <!--Resume-->
                            <div id="content4" class="hide">

                                <div class="columns">
                                    <ul class="price">
                                        <li>{{paiementDetails.forfait?.name}}</li>
                                        <li class="grey">{{paiementDetails.forfait?.montant | currency : 'XOF'}} </li>
                                        <li> Numéro de téléphone : {{paiementDetails?.numeroPaiement}}
                                            <br> Opérateur : {{paiementDetails?.modePaiement | uppercase}}
                                        </li>
                                        <li>Nombre de requêtes : {{paiementDetails.forfait?.nbreRequete}}</li>
                                        <li>Valide pour : {{paiementDetails.forfait?.nbreJour}} Jours </li>

                                    </ul>
                                </div>


                                <div class="form-group">
                                    <button (click)=next() class="btn btn-bg-color btn-block">Confirmer</button>
                                </div>

                            </div>

                            <!--confirmation ORANGE-->
                            <div id="content5" class=" hide">

                                <div class="row center">
                                    <div *ngIf="paiementDetails.modePaiement === 'OM_SKAN'">
                                        <img src="../../../assets/img/logo_OM.jpg" width="100" height="100" alt="">
                                        <p>Veuillez générer un <strong>code de confirmation</strong> en tapant le
                                            code USSD suivant sur votre téléphone:
                                            <br><strong>#144*82#</strong></p>

                                        <div class="input-field s12">
                                            <input (ngModelChange)="modePaiemenentValidation()"
                                                [(ngModel)]="paiementDetails.token" type="number" class="validate">
                                            <label>Entrez le code</label>
                                        </div>
                                    </div>

                                    <div *ngIf="paiementDetails.modePaiement === 'MOOV_SKAN'">
                                        <img src="../../../assets/img/logo_MOOV_MONEY.png" width="100" height="100"
                                            alt="">

                                        <p>Veuillez confirmer la transaction en tapant le code USSD suivant :
                                            <br><strong>*133#</strong></p>

                                    </div>

                                    <div *ngIf="paiementDetails.modePaiement === 'MOMO_SKAN'">
                                        <img src="../../../assets/img/logo_MOMO.jpg" width="100" height="100" alt="">
                                        <p>Veuillez confirmer la transaction en tapant le code USSD suivant :
                                            <br><strong>*133#</strong></p>
                                    </div>
                                </div>


                                <button (click)=onProcessToPayment() class="btn btn-bg-color btn-block">Proceder au
                                    paiement</button>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <button #closeModalPayment [hidden]="true" data-dismiss="modal"></button>

    </div>


    <!--Modal for show contact-->
    <div id="particulierDetails" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header center alert alert-success">
                        <div style="padding: 0.5em;"   class="row">
                          <p>N'hésitez pas à signaler au formateur que vous le contactez grâce à ProfAkounda !</p>
                          <p>L'équipe de ProfAkounda vous remercie.</p>
                        </div>
                      </div>
                    <div class="columns">
                        <ul class="price">
                            <li>Nom : <strong>{{particulierDetail.nom}}</strong></li>
                            <li>Prénoms : <strong>{{particulierDetail.prenoms}}</strong></li>
                            <li> Numéro de téléphone : <strong>{{particulierDetail.telephone}}</strong>
                            </li>
                            <li>Adress e-mail : <strong>{{particulierDetail.email}}</strong></li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-failed" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>

    </div>



    <button data-backdrop="static" data-keyboard="false" #openModalPayment [hidden]="true" data-toggle="modal" data-target="#modalPayment"></button>
    <button #openParticulierDetails [hidden]="true" data-toggle="modal" data-target="#particulierDetails"></button>
