<!-- FORGOT SECTION -->
<section style="background: #002147;">
    <div id="modal3" >
        <div class="log-in-pop">
           <!--  <div class="log-in-pop-left">
                <h3>Récupération du mot de passe </h3>
            </div> -->
            <div class="log-in-pop-right">
                <h4>Mot de passe oublié</h4>
                <small *ngIf="isFailed" class="modal-header center">
                    <span class="alert alert-danger">Cette Adresse e-mail n'est associé à aucun compte</span>
                </small>
                <form [formGroup]="forgotPasswordForm" (submit)="onRequestToResetPassword()"  class="s12">
                    <div>
                        <div class="input-field s12">
                           
                            <input formControlName="username" type="text" data-ng-model="name3" class="validate">
                            <small *ngIf="forgotPasswordForm.controls.username.errors?.required" class="invalid-feedback">
                              Champ requis
                            </small>
                            <small *ngIf="forgotPasswordForm.controls.username.errors?.email" class="invalid-feedback">
                                Adresse e-mail non valide
                              </small>
                            <label>Email</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input [disabled] = "forgotPasswordForm.invalid" 
                            type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" routerLink ="/home/sign-in">Vous avez déjà un compte ? Connectez-vous</a> | <a href="#"
                            routerLink ="/home/sign-up">Créer un compte</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>