<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 ">
                <div class="search-form">
                    <div class="sf-type" id="organisation">
                        <div class="sf-input">
                            <div [formGroup]="myGroup">
                                <input type="text" id="sf-box" placeholder="Nom de l'organissation"
                                   formControlName="organisation" [(ngModel)]="organisationName"
                                    [formControl]="myControl" [matAutocomplete]="auto" id="sf-box">
                            </div>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let organisation of listeOrganisation | async"
                                    (click)="onFilterCoursCommunByOrganisationName()"
                                    [value]="organisation.libelle">
                                    {{organisation.libelle}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <form >
                <div class="search-form">
                   
                    <div class="sf-type">
                        <div class="sf-input">
                            <input style="text-align: center;" type="number" [(ngModel)]="code" id="sf-box" [ngModelOptions]="{standalone: true}"
                                placeholder="Code du cours">
                        </div>

                    </div>
                </div>
                <div [hidden]="true" class="sf-submit">
                    <input (click)="onFilterCoursCommun()" type="submit" value="Rechercher">
                </div>
            </form>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>

</div>
