<div class="search-top">
    <div class="container">  
        <div class="row">
            <div class="col-md-12">   
                <div class="search-form"> 
                        <div class="sf-type">
                            <div class="sf-input">
                                <input style="text-align: center;" type="number" [(ngModel)]="code"
                                        id="sf-box" placeholder="Rechercher un cours par son code d'identification">
                            </div>
                        
                        </div>
                </div>
                <div class="sf-submit">
                    <input   
                            (click)="onFilterCoursCommun()"
                           type="submit" value="Rechercher">
                </div>           
          </div>
        </div>
    </div>
</div>
