<div class="search-top">
    <div class="container">  
        <div class="row">     
           
            <div class="col-md-12">  
                
                <div class="col-md-3" >
                    <div class="sf-type" id="organisation">
                        <div class="sf-input">
                            <mat-form-field > 
                                <div [formGroup]="myGroup" >
                                  <input type="text"   id="sf-box" placeholder="nom de l'organissation"  (ngModelChange)="onFilterCoursCommunByOrganisationName()"
                                     formControlName="organisation" [(ngModel)]="organisationName" matInput
                                      [formControl]="myControl" [matAutocomplete]="auto"  id="sf-box">
                                </div>   
                                  <mat-autocomplete #auto="matAutocomplete">
                                      <mat-option *ngFor="let organisation of listeOrganisation | async"  [value]="organisation.libelle" >
                                          {{organisation.libelle}}
                                      </mat-option>
                                  </mat-autocomplete>
                              </mat-form-field>
                         </div>            
                    </div>
                    
                </div> 
                <div class="search-form"> 
                        <div class="sf-type">
                            <div class="sf-input">
                                <input style="text-align: center;" type="number" [(ngModel)]="code"
                                        id="sf-box" placeholder="Rechercher un cours par son code d'identification">
                            </div>
                        
                        </div>
                </div>
                <div class="sf-submit">
                    <input   
                            (click)="onFilterCoursCommun()"
                           type="submit" value="Rechercher">
                </div>           
          </div>
          
        </div>
    </div>
   
</div>