.fav{
    border: none !important;
    color: #fff !important;
    background: #fff !important;
    font-weight: 700 !important;
    cursor: pointer !important;
}



@media screen  and (max-width: 990px){
    
    .img-card-mob{
    
        width: 200px !important;
        height: 200px !important;
    }

}
