<div (mouseover)="mouseOver()" (mouseleave)="mouseLeave()" class="home-top-cour">
    <!--POPULAR COURSES IMAGE-->
    <a [routerLink]="['/formations/details-formation', id]">

        <div class="col-md-3">
            <p>
                <img height="170" class="img-card-mob" src="{{urlServer}}/{{idParticulier}}" alt="">
            </p>
        </div>
    </a>
    <!--POPULAR COURSES: CONTENT-->
    <div class="col-md-9 home-top-cour-desc">
        <a [routerLink]="['/formations/details-formation', id]">
            <div>
                <h3>{{code}}</h3>
            </div>
            <div>
                <i *ngFor="let e of etoilesBrillants" class="fa fa-star etoileNote"></i>
                <i *ngFor="let eb of etoilesEteints" class="fa fa-star etoile"></i>
            </div>
            <h4 *ngIf="!isAllModule" class="card-modules">
                <span style="display: inline;" *ngFor="let moduleFomation of moduleFormations; let i = index"
                    [attr.data-index]="i">{{moduleFomation.libelle}}<span
                        *ngIf="moduleFormations.length !== i+1">/</span></span>

            </h4>
            <div *ngIf="isAllModule">
                <h4 class="card-modules">
                    <span style="display: inline;" *ngFor="let c of contrats; let i = index" [attr.data-index]="i">
                        {{c.niveau?.libelle}} {{c.niveauTemporaire?.libelle}} <span
                            *ngIf="contrats.length !== i+1">/</span></span>
                </h4>
            </div>
        </a>


        
        <p  [innerHTML]="description" class="add-three-dot"></p>
        <span class="home-top-cour-rat">{{ville}}</span>
        <div class="hom-list-share">
            <ul>
                <li><a [routerLink]="['/formations/details-formation', id]"><i class="fa fa-bar-chart"
                            aria-hidden="true"></i> Details</a> </li>
                <li *ngIf="rayonIntervention"><a (click)="onSendCoordMap(rayonIntervention)"><i class="fa fa-map-marker"
                            aria-hidden="true"></i>Sur la carte</a> </li>
                <li class="fav" *ngIf="isFavoris == true || isFavoris ==false"><a><i
                            (click)="switchStateFavoris(isFavoris, id)" class="fa fa-heart fa-lg "
                            [ngStyle]="{color: getStyle()}" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </div>
</div>

<!-- Team -->
<section id="team" style="width: 100%;">
    <div class="container">
        <div class="row">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img style="margin-top: 1em;" class=" img-fluid"
                                            src="{{urlServer}}/{{idParticulier}}" alt="card image"></p>
                                    <h4 class="card-title">{{code}}</h4>
                                    <div>
                                        <i *ngFor="let e of etoilesBrillants" class="fa fa-star etoileNoteMobile"></i><i
                                            *ngFor="let eb of etoilesEteints" class="fa fa-star etoileMobile"></i>
                                    </div>
                                    <div *ngIf="!isAllModule" class=" modules-mob">
                                        <p> <span style="display: inline"
                                                *ngFor="let moduleFomation of moduleFormations; let i = index"
                                                [attr.data-index]="i">{{moduleFomation.libelle}}<span
                                                    *ngIf="moduleFormations.length !== i+1">/</span></span>

                                        </p>
                                    </div>
                                    <div *ngIf="isAllModule" class="modules-mob">
                                            <p><span style="display: inline" *ngFor="let c of contrats; let i = index"
                                                    [attr.data-index]="i"> {{c.niveau?.libelle}}
                                                    {{c.niveauTemporaire?.libelle}} <span
                                                        *ngIf="contrats.length !== i+1">/</span></span>
                                            </p>
                                    </div>
                                    <p  [innerHTML]="description" class="card-text"></p>

                                    <span class="home-top-cour-rat">{{ville}}</span>

                                    <div style="margin-top: 1em;">
                                        <a [routerLink]="['/formations/details-formation', id]"
                                            class="btn-details btn-sm"><i class="fa fa-bar-chart"></i>Details</a>
                                        <a *ngIf="rayonIntervention" (click)="onSendCoordMap(rayonIntervention)"
                                            class="btn-carte btn-sm"><i class="fa fa-map-marker"></i>Sur la carte</a>
                                        <a *ngIf="isFavoris == true || isFavoris ==false" class="btn-fav"><i
                                                (click)="switchStateFavoris(isFavoris, id)" class="fa fa-heart fa-lg "
                                                aria-hidden="true" [ngStyle]="{color: getStyle()}"
                                                class="fa fa-heart fa-lg "></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>

        </div>
    </div>
</section>
<!-- Team -->