<!--== User Details ==-->
<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Filiere</h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
                <button (click)="initialisation()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAjouter">
                    Ajouter
                </button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>date de creation</th> 
                            <th>date de modification</th>

                        </tr>
                    </thead>
                    <tbody> 
                        <span *ngIf="filieres.length == 0">Aucun élément</span>
                        <tr *ngFor="let filiere of filieres">
                            <td>{{filiere.libelle}}</td>
                            <td>{{filiere.dateCreation|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{filiere.dateModification|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td><button (click)="onLoadFiliere(filiere)" data-toggle="modal" data-target="#modalAjouter" type="button" class="btn btn-primary" > Modifier</button></td>
                            <td><button type="button"  (click)="ondeleteFiliere(filiere.id)"class="btn btn-danger">Supprimer</button></td>
                        </tr>

                    </tbody> 
                </table>
               
            </div>
            <div class="pg-pagina">
                <ul class="pagination">
                    <li [ngClass]="{'active': (i+1) === page }" 
                    (click)= "onFetchAll(i+1)" *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAjouter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="message" class="modal-header">
                    <span class="alert alert-info">{{message}}</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Libelle-->
                <form [formGroup]="classForm" (ngSubmit)="onSaveFiliere()">
                    <div class="form-group">
                        <label for="libelle">Libelle:</label>
                        <input [(ngModel)]="filiere.libelle" formControlName="libelle" type="text" id="libelle"
                            name="libelle" required>
                    </div>
                    <!-- Btn submit-->
                    <button [disabled]="classForm.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>




