@media only screen and (max-width: 600px) {
    .gauche{
        display: none;
    }
    section{
        margin-top: 4.6em;
    }
    
  }
  
.brightness img
{
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        -moz-filter: brightness(35%);
        -o-filter: brightness(35%);
        -ms-filter: brightness(35%);
        max-height: 633px !important;
    }

