<!-- SLIDER -->
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div  class="carousel-inner">
            <div  class="item slider1 active brightness">
                <img  src="../../assets/images/slider/1.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <!-- <h2>Akwaba to <span><span style="color: blue; text-shadow: 0.4px 0.4px gray;">Prof</span>Akounda</span></h2> -->
                    <!-- <p>Répétiteurs, Cours de preparation, Cours de renforcement accessiblent à tous sans efforts</p> -->
                    <p>Répétiteurs,Formateurs,Formations,Cours de preparation, Cours de renforcement accessiblent à tous sans efforts</p>
                    <a [routerLink]="['/formations']"  class="bann-btn-1">formateurs</a><a [routerLink]="['/courscommun']" class="bann-btn-2">Cours</a>
                </div>
            </div>
            <div  class="item brightness">
                <img src="../../assets/images/slider/3.jpg" alt="">
                <div class="carousel-caption slider-con ">
                    <h2>Le formateur proche de chez vous</h2>
                    <p>Retrouvez vos répétiteurs et formateurs en seul endroit</p>
                    <a [routerLink]="['/formations']"  class="bann-btn-1">formateurs</a><a [routerLink]="['/courscommun']" class="bann-btn-2">Cours</a>
                </div>
            </div>
            <div class="item brightness">
                <img style="background-size: cover;" src="../../assets/images/slider/2.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Facilite l'acces a vos formations, cours de renforcement et de preparations</h2>
                    <p>Creez vos formations, cours de preparation ou de renforcement et gérez les inscriptions en un clin d'oeil</p>
                    <a [routerLink]="['/formations']"  class="bann-btn-1">formateurs</a><a [routerLink]="['/courscommun']" class="bann-btn-2">Cours</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control gauche" href="#myCarousel" data-slide="prev">
            <i class="fa fa-chevron-left slider-arr"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-chevron-right slider-arr"></i>
        </a>
    </div>
</section>