<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="search-form"> 
                    
                        <div class="sf-type">
                            <div class="sf-input">
                                <input type="text" 
                                [(ngModel)]="valeur" id="sf-box" placeholder="Search">
                            </div>
                        
                        </div>
                        <div class="sf-submit" >   
                            <input  type="submit" (click)="OnFiltreFormation(valeur)" value="Rechercher">
                        </div>    
                </div>
            </div>
            <div class="col-md-4 ">
                <!-- Dropdown Trigger -->
              <!--<div class="col-md-10 col-sm-3 col-xs-6 dropdown"> 
                <a class='waves-effect dropdown-button top-user-pro'   type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i>  Gerer formations<i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </div>
                !-- Dropdown Structure --
                <ul id='top-menu' class='top-menu-sty dropdown-menu dropdown-menu-right'>
                    <li><a routerLink="editprofil" class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Editer informations</a>
                    </li>
                    <li class="divider"></li>
                    <li><a (click) ="logout()" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                    </li>
                </ul>
            </div>
            -->

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Dropdown button <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </div>
              </div>
        </div>
    </div>
</div> 

<!-- POPULAR COURSES -->
   <section class="pop-cour">
    <div class="container com-sp pad-bot-70">
         <div class="row">
            <div class="con-title">
                <h2>Nos <span>Répétiteurs</span></h2>
            </div>
        </div> 
        
        <div class="col-md-8">

        <div class="row" *ngFor="let propositionFormation of propositionFormations">

                <div>
                        <div class="col-md-12">
                            <div class="home-top-cour">
                                <!--POPULAR COURSES IMAGE-->
                                <div class="col-md-2"> 
                                     <p>
                                         <img height="100" src="{{urlServer}}/{{propositionFormation.idParticulier}}" alt="">
                                    </p>
                                </div>
                                <!--POPULAR COURSES: CONTENT-->
                                <div class="col-md-6 home-top-cour-desc">
                                    <a href="course-details.html">
                                        <h3>{{propositionFormation.prenomParticulier}}</h3>
                                    </a>
                                    <h4 style="display: inline;"  
                                    *ngFor="let moduleFomation of propositionFormation.moduleFormations; let i = index" [attr.data-index]="i">
                                    {{moduleFomation.libelle}} <span *ngIf="propositionFormation.moduleFormations.length !== i+1">/</span>
                                    </h4>
                                    <p class="add-three-dot">{{propositionFormation.description}}</p>
                                    <div class="hom-list-share">
                                        <ul>
                                            <li><a [routerLink]="['/formations/details-formation', propositionFormation.id]"
                                                ><i class="fa fa-bar-chart" aria-hidden="true"></i> Details</a> </li>
                                            <li><a (click)="viewCustomerInMap(propositionFormation.rayonIntervention)"
                                                ><i class="pull-right fa fa-map-marker" aria-hidden="true"></i>Sur la carte</a> </li>
                                        </ul>
                                    </div>
                                   
                                </div>
                                <div class="col-md-4"> 
                                    <button type="button" (click)="supprimerMiseEnLigne(propositionFormation.id)" class="btn btn-danger">Supprimer</button>
                               </div>
                            </div>
              
                        </div>
        
                </div>
         
               

            </div>
            <div class="pg-pagina">
                <ul class="pagination">
                    <li [ngClass]="{'active': (i+1) === page }" 
                    (click)= "onGetListFormation(i+1)" *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
                </ul>
            </div>
 
        </div>
            

            

    </div>
  

</section>
