<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Tous les paiements</h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom Prenoms</th> 
                            <th>Date Inscription</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of particuliers">
                            <td><span class="list-img"><img src="{{urlServer}}/{{p.id}}" alt=""></span>
                            <td>{{p.nom}} {{p.prenoms}} </td>
                            <td>{{p.dateCreation |date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>
                                <span *ngIf="p.compte.enabled" class="label label-success">Actif</span>
                                <span *ngIf="!p.compte.enabled" class="label label-danger">Inactif</span>
                            </td>
                    </tbody>
                </table>
            </div>
            <div class="pg-pagina">
                <ul class="pagination">
                    <li [ngClass]="{'active': (i+1) === page }" 
                    (click)= "onFetchAllCustomer(i+1)" *ngFor="let p of totalPageArray ; let i=index"><a>{{i+1}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
