<section>
    <div class="pro-cover">

        <agm-map [latitude]="lat" 
                [longitude]="long" [zoom]="17">

            <agm-marker 
                        [label] = "libelle"
                        [latitude] = "lat" 
                        [longitude]="long"
                        draggable="true"></agm-marker>

           
        </agm-map>
    </div>

    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user">
                    <img 
                        src="../../../assets/images/logo.png" alt="user">
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>{{cours.coursCommun?.organisation.libelle}}</h4>
                        </li>
                        <li>{{cours.coursCommun?.titre}}</li>
                        <li>
                           <h5 style="text-align: center;" *ngIf="cours.coursCommun?.cout" class="pro-user-act">{{cours.coursCommun?.cout}} FCFA</h5>
                        </li>
                        <li>
                            Début : <span>{{cours.coursCommun?.dateDebut  |date:"dd MMMM yyyy "}}</span>

                        </li>
                        <li>
                             fin : <span>{{cours.coursCommun?.dateFin}}</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">

              
                <div  *ngIf="cours.coursCommun?.cout" class="udb-sec">
                    <a (click)=" onSubscribeToCoursCommun(cours)" 
                        style="width: 100%;"  class="details-line-btn">S'inscrire</a>

                </div>

                <div class="udb-sec">

                    <div class="udb-sec udb-prof">
                        <h4><img src="../../assets/images/icon/db1.png" alt="" />Description</h4>
                        <p>{{cours.coursCommun?.description}}</p>
                    </div>

                    <div  *ngIf="!cours.coursCommun?.cout"  class="udb-sec udb-time">
                        <h4><img src="../../assets/images/icon/db4.png" alt="" /> Public cible</h4>
                        <div class="tour_head1 udb-time-line days">
                            <ul>
                                <li *ngFor="let public of cours.publicCible" class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <div class="sdb-cl-tim">
                                        <div class="sdb-cl-day">
                                            <h5 style="text-align: center;" class="pro-user-act"> {{public.cout}} FCFA</h5>
                                            <span> Niveau : {{public.niveau.libelle}}</span>
                                            
                                        </div>
                                        <div class="sdb-cl-class">
                                            <ul>
                                                <li *ngFor="let formation of public.formations">
                                                    <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                        <h5>{{formation.libelle}}</h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="float: right;">
                                        <a (click)="onSubscribeToCoursCommun(public)" class="details-line-btn">S'inscrire</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>