<div style="height: 500px !important; overflow: visible;">
    <div style="text-align: right; margin-bottom: 1em;" class="row">   
        <a  id="ed-mi-close" matDialogClose class="ed-mi-close"><i class="fa fa-times" style="color: gainsboro;"></i></a>

    </div>
    <div class="row">
        <div class="col-md-12 stepper">
            <ul class="progressbar">
                <li id="step1" class="active">Détails</li>
                <li id="step2" class="active">Photos</li>
                <li id="step3">Modalités</li>
                <li id="step4">Lieu</li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <!--Information générale-->
            <div  id="content1">

                <form    [formGroup]="coursCommunForm" (ngSubmit)="saveCoursCommun()">

                    <div style="overflow-y: auto;"class="row">

                      
                        <mat-form-field>
                            <input matInput formControlName="titre" required type="text" placeholder="Titre">
                        </mat-form-field>
                        <small style="color: red;" *ngIf="coursCommunForm.controls.titre.errors?.required" 
                        class="invalid-feedback">
                            Un titre pour votre cours organisé est requis (Ex : Cours de renforcement du Lycée ProfAkounda)
                        </small>

                    <div class="input-field s12">
                        <mat-form-field>
                            <input type="text" required  
                                placeholder="Organisation" formControlName="organisation"  matInput
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let organisation of filteredOrganisations | async"
                                [value]="organisation.libelle">
                                {{organisation.libelle}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <small style="color: red;" *ngIf="coursCommunForm.controls.organisation.errors?.required" class="invalid-feedback">
                            Précisez votre organisation (Ex : Assocication des Professeurs du Lycée ProfAkounda)
                        </small>
                       
                    </div>


                        <!-- <input formControlName="telephone" type="text" class="validate">
                        <label>Numéro de téléphone</label> -->
                        <mat-form-field>
                            <input matInput formControlName="telephone" required type="text" placeholder="Téléphone">
                        </mat-form-field>
                        <small style="color: red;" 
                        *ngIf="coursCommunForm.controls.telephone.errors?.required ||
                                 coursCommunForm.controls.telephone.errors?.maxlength ||
                                 coursCommunForm.controls.telephone.errors?.minlength " class="invalid-feedback">
                            Entrez un numéro de téléphone valide  (8 chiffres)
                        </small>

                    <div class="input-field s12">

                        <!-- <textarea formControlName="description" maxChars="1000" class="form-control" name="description"
                            id="" cols="30" rows="5">

                        </textarea>
                        <label>Description</label> -->
                        <mat-form-field>
                            <textarea matInput required placeholder="Description" formControlName="description" maxChars="1000" class="form-control" name="description"
                            id="" cols="30" rows="5">

                            </textarea>
                        </mat-form-field>

                    </div>


                    <div class="col-md-6">
                        <div class="">
                            <small>Date de début du cours</small>
                            <input formControlName="dateDebut" type="date" class="validate">
                            <small style="color: red;" *ngIf="coursCommunForm.controls.dateDebut.errors?.required" class="invalid-feedback">
                                Précisez la date du début de votre cours organisé
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="">
                            <small>Date de fin du cours</small>
                            <input formControlName="dateFin" type="date" class="validate">
                            <small style="color: red;" *ngIf="coursCommunForm.controls.dateFin.errors?.required" class="invalid-feedback">
                                Précisez la date de fin de votre cours organisé
                            </small>
                        </div>
                    </div>

                    </div>
                   


                    <div   class="row ">

                        <button type="submit" [disabled]="coursCommunForm.invalid"
                            class="btn btn-bg-color btn-block ">Suivant</button>

                    </div>

                </form>

            </div>
             <!--Upload Photo Organisation-->
             <div style="overflow-y:auto; overflow-x: hidden;" id="content2" class="hide">
                <div class="row" style="text-align: center;" >     
                    <p>Touchez plus de cibles en ajoutant un logo à votre cours organisé</p>
                    <small>(Optionnel)</small>
                   
                        <form id="file-upload-form" class="uploader">
                            <input (change)="onSelectFile($event)" id="file-upload" type="file" name="fileUpload" accept="image/*" />
                        
                            <label for="file-upload" id="file-drag">
                            <img *ngIf="urlFile"  height="250" id="file-image" 
                                  [src]="urlFile" alt="Apercu">
                            <img *ngIf="!urlFile"  
                                    src="../../../assets/images/Stylo.png" 
                                     height="250" id="file-image" alt="Apercu">
                            <div id="start">
                                <div>Selectionner une photo</div>
                                <span id="file-upload-btn" class="btn btn-primary">Choisir</span>
                            </div>
                           
                            </label>
                        </form>

                

                </div>

                <div class="row">

                    <button [disabled]="!isNotUploadLoading"
                    style="margin-top: 0.5em;" type="submit" 
                    (click)="next()"
                    class="btn btn-bg-color btn-block">
                    {{ isNotUploadLoading ? 'Suivant' : 'Chargement en cours ...'}}</button>
                </div>
            </div>
            <!--Public visé-->
            <div id="content3" class="hide">
                <div class="row" style=" margin-top: 2em;">
                    <div style="text-align: center;">
                       
                            <p>Par niveau ou module</p>
                            <p>
                            <mat-checkbox *ngIf="!isModify" (change)="checkBoxPublicChange()">
                            </mat-checkbox>
                            </p>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="!isCheckPublicCible" style="margin-top: 10px;" class="input-field s12">
                            <form [formGroup]="coutGeneralForm">
                                <div class="row " >
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input [attr.disabled]="dataReceived?.coursCommun?.nombreInscrit > 0 ? '' : null "
                                             matInput formControlName="cout" required type="number" placeholder="Cout Général">
                                        </mat-form-field>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="cout">
                                            <input  [attr.disabled]="isCheckIllimite ? '' : null"
                                              formControlName="nbreMaxInscrits" type="number" placeholder="Nombre maximun d'inscrits">
                                        </div>
                                        

                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-field s12">
                                            <mat-checkbox [checked]="isCheckIllimite"
                                                (change)="checkBoxIllimiteChange()">
                                                Illimité ?</mat-checkbox>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div *ngIf="isCheckPublicCible" class="row mt-5">
                    <div style="overflow-y: auto;"  class="row">
                        <div class="col-md-4">

                            <form [formGroup]="publicCibleForm" (ngSubmit)="addPublicToTable()">

                                <mat-form-field>
                                    <mat-label>Niveau (optionnel)</mat-label>
                                    <mat-select [compareWith]="comparer" formControlName="niveau">
                                        <mat-option>
                                            </mat-option>
                                        <mat-option *ngFor="let niveau of niveaux" [(value)]="niveau">
                                            {{niveau.libelle}}</mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field>
                                    <input type="text"  
                                        placeholder="Filière (optionnel)" formControlName="filiere"  matInput
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let filiere of filteredFilieres | async"
                                        [value]="filiere.libelle">
                                        {{filiere.libelle}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                               


                                <mat-form-field>
                                    <mat-label>Formations</mat-label>
                                    <mat-select [compareWith]="comparer" formControlName="formations" multiple>
                                        <mat-option *ngFor="let formation of formationsTab; let i=index"
                                            [value]="formation">
                                            {{formation.libelle}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div style="margin-top: 10px;" class="input-field s12">
                                    <input [attr.disabled]="dataReceived?.coursCommun?.nombreInscrit > 0 ? '' : null"  
                                             formControlName="cout" type="number" class="validate">
                                    <label>Cout</label>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-8 d-flex justify-content-center">
                                        <div class="input-field s12">
                                            <input [attr.disabled]="isCheckIllimitePublicCible ? '' : null"
                                                formControlName="nbreMaxInscrits" type="number" class="validate">
                                            <label>Nombre maximun d'inscrits</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="margin-top: 1.5em">
                                        <mat-checkbox [checked]="isCheckIllimitePublicCible"
                                            (change)="checkBoxIllimiteChangePublicCible()">
                                            Illimité ?</mat-checkbox>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-info"
                                    [disabled]="publicCibleForm.invalid">Ajouter</button>


                            </form>

                        </div>

                        <div class="col-md-8">

                            <ul *ngIf="publicCibleMdels.length > 0" class="list-group">
                                <li *ngFor="let public of publicCibleMdels;let i =index; 
                                    let i=index" class="list-group-item">
                                    <p style="color: black;">
                                        {{public.niveau ? public.niveau.libelle :  'Tout niveau confondu' }} - Coût : {{public.cout}}
                                    FCFA - {{public.filiere ? 'Filière : ' + public.filiere : 'Filière : Non précisée !'}}

                                    <span (click)="deletePublic(i)" class="trash">
                                        <i class="fa fa-trash"></i></span>
                                    <span data-toggle="tooltip" data-placement="right"
                                        title="Nombre de places : {{public.nbreMaxInscrits}} ; {{getFormationsForPublic(public)}}"
                                        class="info">
                                        <i class="fa fa-lg fa-info"></i></span>
                                    <span (click)="loadPublicCible(public, i)" class="trash">
                                        <i class="fa fa-lg fa-edit"></i></span>
                                    </p>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>

                <div class="row" style="margin-top: 40px;">

                    <button [disabled]="publicCibleMdels.length  == 0 && isCheckPublicCible || coutGeneralForm.invalid"
                        (click)="savePublicCible()" class="btn btn-bg-color btn-block btn-float-bottom">Suivant</button>

                </div>

            </div>

            <!--Lieu intervention-->
            <div id="content4" class="hide">

                <div class="row" style="text-align: center;">

                    <p>Précisez le lieu d'execution</p>

                    <form [formGroup]="lieuInterventionForm" (submit)="saveLieuIntervention()">

                        <app-google-place [autocompleteInput]="libelleLieu" (setAddress)="setAddress($event)"
                            adressType="geocode"></app-google-place>

                        <agm-map [latitude]="lng" [longitude]="lat" [zoom]="zoom"
                            (mapClick)="ajoutMarqueur($event.coords.lng, $event.coords.lat)">

                            <agm-marker [latitude]="lng" [longitude]="lat" [markerDraggable]="true">

                            </agm-marker>
                        </agm-map>

                        <button type="submit" class="btn btn-bg-color btn-block btn-float-bottom">Soumettre</button>


                    </form>
                </div>
            </div>


        </div>

    </div>

</div>