<head>
  <title>ProAkounda</title>
  <!-- META TAGS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Trouvez votre formateur">
  <meta name="keyword" content="eEducation html template, university template, college template, school template, online eEducation template, tution center template">
  <!-- FAV ICON(BROWSER TAB ICON) -->
  <link rel="shortcut icon" href="../assets/images/fav.ico" type="image/x-icon">
  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
  <!-- FONTAWESOME ICONS -->

  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f4eb64a2babab00124f810b&product=inline-share-buttons" async="async"></script>
</head>
<router-outlet></router-outlet>
<app-loading></app-loading>
 
