<!-- REGISTER SECTION -->
<section style="background: #002147;">
    <div id="modal2">
        <div class="log-in-pop">
            <div class="log-in-pop-left">
                <h1>Bienvenue...</h1>
                <p>Enseignants, répétiteurs, structures éducatives, étudiants, parents d'élèves, élèves, <br> <strong>ProfAkounda</strong> est votre ami fidèle.</p>
                <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div  class="log-in-pop-right">
                <h4>Créer un compte</h4>
                
                    <p *ngIf="!inscriptionSucess">Vous n'avez pas de compte? Créez-en un. <br> Cela ne vous prendra que quelques secondes.</p>
                   
                <div *ngIf="error" class="alert alert-danger">
                    {{error}}
                </div>
                <div *ngIf="inscriptionSucess" class="modal-header center alert alert-success">
                  <div style="padding: 0.5em;"   class="row">
                    <p><strong>Inscription effectuée !</strong></p>
                    <p>Un mail de confirmation vous a été envoyé sur votre adresse email. Si le mail ne vous est pas parvenu, vérifiez vos <strong>spams</strong> ou 
                        <a style="cursor: pointer;color:blue;" (click)="onRevoyerEmail()">renvoyez le mail de confirmation.</a> </p>
                  </div>
                </div>
               
                <form [formGroup] = "userForm" (ngSubmit)="onSaveParticulier()" class="s12">
                    
                    <div>
                        <div class="input-field s12"> 
                            <input   type="text" formControlName="nom" class="validate">
                            <label>Nom</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input   type="text" formControlName="prenoms" class="validate">
                            <label>Prénoms</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input   type="email" formControlName="email" class="validate">
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="input-field s12">
                                    <input   type="password"  formControlName="password" class="validate">
                                    <label>Mot de passe</label>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="input-field s12">
                                    <input type="password"  (ngModelChange) ="changement()" formControlName="passwordConfirm"   class="validate">
                                    <label>Confirmez le mot de passe</label>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="message" [ngStyle]="{color:getColor()}" >{{message}}</span>
                    <button type="submit" [disabled]="invalidation || userForm.invalid"  class="btn btn-info btn-block" >Enregistrer</button>
                </form>
            
            </div>
        </div>
    </div>
</section>