<div  style="height: 700px;" class="col-md-12">
    <section>
        <div style="display: block;" class="row">
            <a (click)="generatePDFListInscrit()" class="read-line-btn">Imprimer</a>
        </div>
        <div class="row">
            <p *ngIf="dataReceived.inscrit.length === 0">Vous n'avez pas encore d'inscrits</p>
            <div *ngIf="dataReceived.inscrit.length > 0" class="cor about-sp">
                <p style="text-align: center;">{{dataReceived.inscrit.length}} inscrit(s)</p>
                <div class="">
                    <ul>
                        <li *ngFor="let inscrit of dataReceived.inscrit">
                           
                            <div class="s17-eve-time">
                                <div class="s17-eve-time-msg">
                                    <h5>Code d'inscription : {{inscrit.code}}</h5>
                                    <p>Nom : {{inscrit.nom}}</p>
                                    <p>Prénoms : {{inscrit.prenoms}}</p>
                                    <p>Date inscription : {{inscrit.dateInscription |date:"dd MMMM yyyy "}}</p>

                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="row">
                <a matDialogClose class="details-line-btn">Sortir</a>
            </div>
        </div>
    </section>

</div>