 <!-- MOBILE MENU -->
  <!-- MOBILE MENU -->
  <section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../../assets/images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a  class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>User Account</h4>
                        <ul  *ngIf="!authenticated" >
                            <li><a href="#" routerLink ="/home/sign-in" >connexion</a>
                            </li>
                            <li><a href="#" routerLink ="/home/sign-up" >inscription</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#" routerLink ="/customers" >Mon Tableau de bord</a>
                            </li>
                        </ul>
                        <h4>Formations</h4>
                        <ul *ngIf="authenticated">
                            <li><a routerLink ="/formations">Nos répétiteurs</a></li>
                            
                        </ul>
                        <h4>User Profile</h4>
                        <ul>
                            <li><a href="dashboard.html">User profile</a></li>
                            <li><a href="db-courses.html">Courses</a></li>
                            <li><a href="db-exams.html">Exams</a></li>
                            <li><a href="db-profile.html">Prfile</a></li>
                            <li><a href="db-time-line.html">Time line</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- TOP BAR -->
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
                            <li><a href="#">Contact: Lake Road, Suite 180 Farmington Hills, U.S.A.</a>
                            </li>
                            <li><a href="#">Phone: +101-1231-1231</a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="!authenticated" class="ed-com-t1-right">
                        <ul>
                            <li><a href="#" routerLink ="/home/sign-in" >connexion</a>
                            </li>
                            <li><a href="#" routerLink ="/home/sign-up" >inscription</a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="authenticated" class="ed-com-t1-right">
                        <ul>
                            <li><a href="#" routerLink ="/customers" >Mon Tableau de bord</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ed-com-t1-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!--HEADER SECTION-->
<section>
    <!-- TOP BAR -->
   <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a routerLink="/home"><img src="../../assets/images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
