 
       
       <div class="sb2-2-2">
            <ul>
                <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="active-bre"><a href="#"> Dashboard</a>
                </li>
                <li class="page-back"><a routerLink="/home"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                </li>
            </ul>
        </div>
        <!--== DASHBOARD INFO ==-->
        <div class="sb2-2-1">
            <h2>Admin Dashboard</h2>
            <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
            <div class="db-2">
                <ul>
                    <li>
                        <div class="dash-book dash-b-1">
                            <h5>All Courses</h5>
                            <h4>948</h4>
                            <a href="#">View more</a>
                        </div>
                    </li>
                    <li>
                        <div class="dash-book dash-b-2">
                            <h5>Admission</h5>
                            <h4>672</h4>
                            <a href="#">View more</a>
                        </div>
                    </li>
                    <li>
                        <div class="dash-book dash-b-3">
                            <h5>Students</h5>
                            <h4>689</h4>
                            <a href="#">View more</a>
                        </div>
                    </li>
                    <li>
                        <div class="dash-book dash-b-4">
                            <h5>Enquiry</h5>
                            <h4>24</h4>
                            <a href="#">View more</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--== User Details ==-->
        <div class="sb2-2-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-inn-sp">
                        <div class="inn-title">
                            <h4>5 DERNIERS COURS COMMUNS</h4>
                           
                        </div>
                        <div class="tab-inn">
                            <div class="table-responsive table-desi">
                                <table  class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Code du cours</th>
                                            <th>Titre</th>
                                            <th>Date de création</th>
                                            <th>Nombre d'inscrits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of coursCommuns">
                                            
                                            <td>{{c.coursCommun.codeCours}}</td>
                                            <td>{{c.coursCommun.titre}}</td>
                                            <td>{{c.coursCommun.dateCreation | date: 'dd-MM-yyyy'}}</td>
                                            <td>{{c.coursCommun.nombreInscrit}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sb2-2-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-inn-sp">
                        <div class="inn-title">
                            <h4>5 DERNIERES PROPOSITIONS DE FORMATIONS</h4>
                           
                        </div>
                        <div class="tab-inn">
                            <div class="table-responsive table-desi">
                                <table  class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Téléphone</th>
                                            <th>Date de création</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of propositions">
                                            
                                            <td>{{p.proposition.description}}</td>
                                            <td>{{p.proposition.telephone}}</td>
                                            <td>{{p.proposition.dateCreation | date: 'dd-MM-yyyy'}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sb2-2-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-inn-sp">
                        <div class="inn-title">
                            <h4>10 DERNIERES INSCRIPTIONS</h4>
                           
                        </div>
                        <div class="tab-inn">
                            <div class="table-responsive table-desi">
                                <table  class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Nom</th>
                                            <th>Prénoms</th>
                                            <th>Titre du cours</th>
                                            <th>Date d'inscription</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of inscrits">
                                            
                                            <td>{{i.code}}</td>
                                            <td>{{i.nom}}</td>
                                            <td>{{i.prenoms}}</td>
                                            <td>{{i.coursCommun?.titre}} {{i.publicVise?.coursCommun.titre}}</td>
                                            <td>{{i.dateInscription | date: 'dd-MM-yyyy'}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        