<div class="col-md-12">

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0" nonce="v6DsT2u2"></script>

        <div class="head-2">
                <div class="head-2-inn head-2-inn-padd-top">
                        <h1>Mes cours organisés</h1>
                        <p>Créez et gérez vos différents cours organisés (séminaires, cours de renforcement, cours de préparation,...)</p>
                        <div class="event-head-sub">
                                <ul>
                                        <li>Total cours: {{coursCommuns.length}}</li>
                                        <li>Total inscrits: {{totalInscrits}}</li>
                                </ul>
                        </div>
                </div>


        </div>

        <div style="text-align: center; margin-top: 1em;">
                <button (click)="goToOrganiserCours()" data-target="#addDesc" class="btn btn-info">
                        <i class="fa fa-plus">

                        </i> Organiser un cours</button>
        </div>


        <div style="margin-top: 5em;">
                <p style="text-align: center;" *ngIf="coursCommuns.length === 0">Aucun organisé pour le moment</p>
                <div class="row" style=" margin: 0 auto;">
                        <div *ngFor="let cours of coursCommuns" class="col-md-4">


                                <div class="ed-rese-grid ed-rese-grid-mar-bot-30">
                                        <div class="state">
                                                <kbd *ngIf="cours.coursCommun.enLigne">En ligne</kbd>


                                                <kbd *ngIf="!cours.coursCommun.attenteMiseEnLigne && 
                                                        !cours.coursCommun.enLigne && 
                                                        !cours.coursCommun.refusMiseEnLigne &&
                                                        !cours.coursCommun.suppressionMiseEnLigne">En édition</kbd>
                                                <kbd *ngIf="cours.coursCommun.attenteMiseEnLigne">En attende de
                                                        validation</kbd>
                                                <kbd *ngIf="cours.coursCommun.refusMiseEnLigne" data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="{{cours.coursCommun.causeRefus?.details}}">Refusée</kbd>
                                                <kbd *ngIf="cours.coursCommun.suppressionMiseEnLigne">Hors-ligne</kbd>

                                        </div>
                                        <div class="ed-rsear-img ed-faci-full-top">
                                                <img height="250" src="{{urlServer}}/{{cours.coursCommun.id}}" alt="">
                                        </div>
                                        <div class="ed-rsear-dec ed-faci-full-bot">
                                                <h4><a>{{cours.coursCommun?.organisation?.libelle}} -
                                                        <span style="color: #896BEE; font-size: 14px;">{{cours.coursCommun.titre}}</span></a></h4>
                                                <p style="height: 8em;
                                                max-width: 80%;
                                                width: 80%;
                                                white-space: pre-wrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;">{{cours.coursCommun.description}}</p>
                                                <p>{{cours.coursCommun.nombreInscrit}} inscrit(s)</p>
                                                <div class="row">
                                                        <a [routerLink]="[cours.coursCommun.id]" class="read-line-btn"
                                                                style="margin-right: 0.5em;">Détails</a>
                                                        <a *ngIf="!cours.coursCommun.isVirement" style="border-color: #d83d0c !important; 
                                                                color: #d83d0c !important;"
                                                                (click)="loadCoursCommun(cours)"
                                                                class="read-line-btn">Modifier</a>
                                                                <a  class="read-line-btn"   href="https://www.facebook.com/sharer/sharer.php?u=https//www.profAkounda.html"
                                                                style="margin-right: 0.5em;"><i _ngcontent-hao-c3="" aria-hidden="false" class="fa fa-facebook"></i></a>

                                                                <div class="fb-share-button" data-href="http://profAkounda/customers/courscommun" data-layout="button_count" data-size="large">
                                                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2FprofAkounda%2Fcustomers%2Fcourscommun&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a>
                                                                </div>
                                                                
                                                                <a  class="read-line-btn" href="https://www.twitter.com/intent/tweet?url=%3A%2F%2Fvenez vous inscrire a mon cours commun en MATLAB en cliquant sur ce lien https//www.profAkounda.com"
                                                                style="margin-right: 0.5em;"><i _ngcontent-hao-c3="" aria-hidden="false" class="fa fa-twitter"></i></a>
                                                                
                                                                <kbd style="color: green;background-color: white;" *ngIf="cours.coursCommun.isVirement">Virement effectué <span style="color: red; background-color: white;">{{cours.coursCommun.dateVirement | date: 'dd/MM/yyyy'}}</span></kbd>

 
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
</div>