<!-- POPULAR COURSES -->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>Les <span>Formateurs</span></h2>
            </div>
        </div>
        <div style="text-align: center;" *ngIf="propositionFormations.length == 0" >
            <p>Aucun formateurs disponibles</p>
            <p>Vous êtes un formateur ? Proposez vos cours <a style="color: #FF5722;" routerLink="/customers/formations">ici</a></p>

        </div>
        <div class="row" *ngFor="let propositionFormation of propositionFormations">
            <app-card-formation
            [idParticulier]= "propositionFormation.idParticulier"
            [code] = "propositionFormation.code"
            [etoilesBrillants] = "propositionFormation.etoilesBrillants"
            [etoilesEteints] = "propositionFormation.etoilesEteints"
            [moduleFormations] = "propositionFormation.moduleFormations"
            [contrats] = "propositionFormation.contrats"
            [isAllModule] = "propositionFormation.isAllModule"
            [description] = "propositionFormation.description"
            [ville] = "propositionFormation.ville"
            [id] = "propositionFormation.id"
            ></app-card-formation>
        </div>
        <div *ngIf="isNombreMaxAtteint" class="con-title">
            <a [routerLink]="['/formations']">
                <p>Voir plus ...</p>
            </a>
        </div>
       
    </div> 
</section>

