<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Mes formations</h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
               
                <button  type="button" data-toggle="modal" data-target="#ajouterClasse"
                    class="btn btn-primary">
                    Niveau enseigné
                </button>
                <button  style="margin-left: 1em;" type="button" data-toggle="modal" data-target="#ajouterClasse"
                class="btn btn-info">
                Modules enseignés
                </button>
                <button  style="margin-left: 1em;" type="button" data-toggle="modal" data-target="#ajouterClasse"
                    class="btn btn-outline-success">
                    Disponibilités
                </button>
               
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Niveau enseigné</th>
                            

                        </tr>
                    </thead> 
                    <tbody>
                       
                        <tr>
                            <td>Terminale</td>
                           
                            <td><button class="btn btn-warning">Coût</button></td>
                        </tr>
                        <tr>
                            <td>Seconde C</td>
                           
                            <td><button class="btn btn-warning">Coût</button></td>
                        </tr>
                        <tr>
                            <td>Première</td>
                          
                            <td><button class="btn btn-warning">Coût</button></td>
                        </tr>
                        <tr>
                            <td>Troisième</td>
                            
                            <td><button class="btn btn-warning">Coût</button></td>
                        </tr>
                        <tr>
                            <td>CM2</td>
                            
                            <td><button class="btn btn-warning">Coût</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>