.updateButton{
    width: 2em;
    height: 2em; 
    color: white;
    background: green;
}
.deleteButton{
    width: 1em;
    height: 1em; 
    color: white;
    background: red;
}
i{
    background: none;
}
.ng-invalid{
    border-color: red;
}

agm-map {
    height: 400px;
  }
  .enCours tbody tr td,.enCours tbody tr td span{
      color: white !important;
  }