<section>
    <div id="desc" class="container-fluid com-sp pad-bot-40">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Comment marche <span>ProfAkounda</span> ?</h2>
                    </div>
                </div>
                <div >
                    <div  > 
                        <ul class="col-md-12">
                           <!--  <li>
                                <div class="ed-ad-img">
                                    <img src="images/adv/1.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Créer un compte
                                    </h4>
                                    <p>
                                        Créez un compte, activez le et proposez vos différentes formations et cours. 
                                    </p>
                                    
                                </div>
                            </li> --> 
                            <li id="formation" class="col-md-6">
                                <div  class="col-sm-4">
                                    <img id="img"  src="/assets/images/description/10.png" alt="">
                                </div>
                                <div class="col-sm-8"> 
                                    <h3>Proposez vos <span>formations </span></h3>
                                    <h5 >Vous donnez des cours particuliers, des cours à domicile,... ? Inscrivez vous et proposez gratuitement vos formations dans n’importe quel domaine qui intéresseront des particuliers ou élèves</h5>
                                </div>
                            </li>
                            <li id="organiser" class="col-md-6">
                                <div class="col-sm-4">
                                    <img id="img"  src="../../assets/images/description/11.png" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h3>Organisez des <span> cours</span></h3>
                                    <h5>
                                        Organisez-vous des cours de renforcement, des séminaires, ... ? Bonne nouvelle, gagnez une audience avec ProfAkounda et gérez vos inscriptions en toute sécurité.
                                    </h5>
                                </div>
                            </li>
                            <li id="contacter" class="col-md-6">
                                <div class="col-sm-4">
                                    <img id="img" src="../../assets/images/description/12.png" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h3>Contactez un <span> professeur </span></h3>
                                    <h5>
                                        Trouvez le professeur particulier correspondant à votre besoin et contactez le.
                                    </h5>
                                </div> 
                            </li>
                            <li id="inscription" class="col-md-6">
                                <div class="col-sm-4">
                                    <img id="img" src="../../assets/images/description/13.png" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <h3>Inscrivez vous à <span> un cours</span></h3>
                                    <h5 style="justify-items: center">Parcourez les cours organisés (séminaires, cours de renforcement, formations, ...) par les professeurs particuliers et inscrivez-vous via Mobile Money</h5>
<!--                                     <a href="departments.html">Read more</a>
 -->                             </div> 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
