<section>
    <div class="container com-sp pad-bot-40">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Comment marche <span>ProfAkounda</span> ?</h2>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="ed-advan">
                        <ul>
                           <!--  <li>
                                <div class="ed-ad-img">
                                    <img src="images/adv/1.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Créer un compte
                                    </h4>
                                    <p>
                                        Créez un compte, activez le et proposez vos différentes formations et cours. 
                                    </p>
                                    
                                </div>
                            </li> -->
                            <li>
                                <div class="ed-ad-img">
                                    <img src="/assets/images/description/2.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Proposez vos formations</h4>
                                    <p>Vous donnez des cours particuliers, des cours à domicile,... ? Inscrivez vous et proposez gratuitement vos formations dans n’importe quel domaine qui intéresseront des particuliers ou élèves</p>
                                </div>
                            </li>
                            <li>
                                <div class="ed-ad-img">
                                    <img src="../../assets/images/description/3.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Organisez des cours</h4>
                                    <p>
                                        Organisez-vous des cours de renforcement, des séminaires, ... ? Bonne nouvelle, gagnez une audience avec ProfAkounda et gérez vos inscriptions en toute sécurité.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ed-ad-img">
                                    <img src="../../assets/images/description/9.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Contactez un professeur</h4>
                                    <p>
                                        Trouvez le professeur particulier correspondant à votre besoin et contactez le.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ed-ad-img">
                                    <img src="../../assets/images/description/4.png" alt="">
                                </div>
                                <div class="ed-ad-dec">
                                    <h4>Inscrivez vous à un cours</h4>
                                    <p>Parcourez les cours organisés (séminaires, cours de renforcement, formations, ...) par les professeurs particuliers et inscrivez-vous via Mobile Money</p>
<!--                                     <a href="departments.html">Read more</a>
 -->                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
