<div class="row" >

    <div *ngFor="let propositionFormation of propositionFormations" class="col-md-6">
       <app-card-formation
        [idParticulier]= "propositionFormation.idParticulier"
        [code] = "propositionFormation.code"
        [moduleFormations] = "propositionFormation.moduleFormations"
        [description] = "propositionFormation.description"
        [ville] = "propositionFormation.ville"
        [id] = "propositionFormation.id"
        [isFavoris] = "propositionFormation.isFavoris"     
        ></app-card-formation>

    </div> 



</div>