 <!-- MOBILE MENU -->
  <!-- MOBILE MENU -->
  <section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../../assets/images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a id="ed-mi-close"  class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>User Account</h4>
                        <ul  *ngIf="!authenticated" >
                            <li><a (click)="close()" href="#" routerLink ="/home/sign-in" >connexion</a>
                            </li>
                            <li><a (click)="close()" href="#" routerLink ="/home/sign-up" >inscription</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a *ngIf="authenticated" (click)="close()"
                                [routerLink]="profile ==='ROLE_PARTICULIER' ? ['/customers'] : ['/admin']" routerLink ="/customers" >Mon Tableau de bord</a>
                            </li>
                        </ul>
                        <h4>Formations</h4>
                        <ul >
                            <li><a (click)="close()" routerLink ="/formations">Nos formateurs</a></li>
                            <li><a (click)="close()" routerLink ="/courscommun">Les cours organisés</a></li>
                            <li><a (click)="close()" routerLink ="/contactus">Contactez-nous</a></li>


                        </ul>
                        <!-- <h4>User Profile</h4>
                        <ul>
                            <li><a  href="dashboard.html">User profile</a></li>
                            <li><a href="db-courses.html">Courses</a></li>
                            <li><a href="db-exams.html">Exams</a></li>
                            <li><a href="db-profile.html">Prfile</a></li>
                            <li><a href="db-time-line.html">Time line</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- TOP BAR 
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
                            <li><a href="mailto:support@profkounda.com">Besoin d'aide ? : support@profakounda.com</a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="!authenticated" class="ed-com-t1-right">
                        <ul>
                            <li><a href="#" routerLink ="/home/sign-in" >connexion</a>
                            </li>
                            <li><a href="#" routerLink ="/home/sign-up" >inscriptiION</a>
                            </li>
                        </ul> 
                    </div>
                    <div *ngIf="authenticated" class="ed-com-t1-right">
                        <ul>
                            <li><a href="#"
                                [routerLink]="profile ==='ROLE_PARTICULIER' ? ['/customers'] : ['/admin']" routerLink ="/customers" >Mon Tableau de bord</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ed-com-t1-social">
                        <ul>
                            <li><a href="https://www.facebook.com/profakounda"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a routerLink="/home"><img src="../../assets/images/logo.png" alt="" />
                        </a>
                    </div>
                    <!--<div class="main-menu">
                        <ul>
                            <li><a routerLink ="/home">Accueil</a>
                            </li>
                            <li class="about-menu">
                                <a routerLink ="/courscommun" class="mm-arr">Nos cours organisés</a>
                                <!- MEGA MENU 1 
                            </li>
                            <li class="admi-menu">
                                <a routerLink ="/formations" class="mm-arr">Nos formateurs</a>
                                <!- MEGA MENU 1 
                            </li>
                            <li class="admi-menu">
                                <a routerLink ="/contactus" class="mm-arr">Contactez-nous</a>
                                 MEGA MENU 1 
                            </li>
                        </ul>
                    </div>-->
                    <div *ngIf="!authenticated" class="ed-com-t1-right">
                        <ul>
                            <li id="cours"><a  [routerLink]="['/courscommun']" class="cours">Cours</a></li>
                            <li id="form"> <a   [routerLink]="['/formations']" class="form"> Formateurs</a>   </li>
                            <li  id="sign_in"><a  class="conn"  href="#" routerLink ="/home/sign-in" >Connexion</a>
                            </li> 
                            <li  id="sign_up"><a  class="insc"href="#" routerLink ="/home/sign-up" >Inscription</a>
                            </li>
                        </ul> 
                    </div>
                    <div *ngIf="authenticated" class="ed-com-t1-right">
                        <ul>
                            <li></li>
                            <li></li>
                            <li><a href="#"
                                [routerLink]="profile ==='ROLE_PARTICULIER' ? ['/customers'] : ['/admin']" routerLink ="/customers" >Mon Tableau de bord</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>


</section>


