<section>
    <div *ngIf="cours.lieuIntervention" class="pro-cover">

        <agm-map [latitude]="cours.lieuIntervention.latitude" 
                [longitude]="cours.lieuIntervention.longitude" [zoom]="zoom">

            <agm-marker
            
             [latitude]="cours.lieuIntervention.latitude" 
            [longitude]="cours.lieuIntervention.longitude"
            [label] = "cours.lieuIntervention.libelle"></agm-marker>

           
        </agm-map>
    </div>

    <div class="stu-db">
        <div class="container pg-inn">
            <div class="col-md-3">
                <div class="pro-user">
                    <img 
                        src="../../../assets/images/logo.png" alt="user">
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>{{cours.coursCommun?.organisation.libelle}}</h4>
                        </li>
                        <li>{{cours.coursCommun?.titre}}</li>
                        <li>
                           <h5 style="text-align: center;" *ngIf="cours.coursCommun?.cout" class="pro-user-act">{{cours.coursCommun?.cout}} FCFA</h5>
                        </li>
                        <li>
                            Début : <span>{{cours.coursCommun?.dateDebut  |date:"dd MMMM yyyy "}}</span>

                        </li>
                        <li>
                             fin : <span>{{cours.coursCommun?.dateFin}}</span>
                        </li>
                        <li>
                            Etat : <span *ngIf="cours.coursCommun?.inscriptionFermer === true">Fermé</span>
                                    <span *ngIf="cours.coursCommun?.inscriptionFermer === false">Ouvert</span>
                       </li>
                       <li *ngIf="cours.coursCommun?.nbreMaxInscrits">
                             <span>{{cours.coursCommun.nbreMaxInscrits - cours.coursCommun.nombreInscrit}}</span> places disponibles
                      </li>
                      <li *ngIf="!cours.coursCommun?.nbreMaxInscrits && cours.coursCommun?.cout">
                        <span>Places disponibles <strong>illimitées</strong> </span>
                     </li>

                       
                    </ul>
                </div>

            </div>
            <div class="col-md-9">

              
                <div (click)="onFetchInscrits()"  *ngIf="cours.coursCommun?.cout" class="udb-sec">
                    <a style="width: 100%;"  class="details-line-btn">Details  ({{cours.coursCommun.nombreInscrit}} inscrits)</a>

                </div>

                <div class="udb-sec">

                    <div class="udb-sec udb-prof">
                        <h4><img src="../../assets/images/icon/db1.png" alt="" />Description</h4>
                        <p>{{cours.coursCommun?.description}}</p>
                    </div>

                    <div  *ngIf="!cours.coursCommun?.cout"  class="udb-sec udb-time">
                        <h4><img src="images/icon/db4.png" alt="" /> Public cible</h4>
                        <div class="tour_head1 udb-time-line days">
                            <ul>
                                <li *ngFor="let public of cours.publicCible" class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <div class="sdb-cl-tim">
                                        <div class="sdb-cl-day">
                                            <h5 style="text-align: center;" class="pro-user-act"> {{public.cout}} FCFA</h5>
                                            <span> Niveau : {{public.niveau.libelle}}</span>
                                            <span *ngIf="public.filiere"> Filiere : {{public.filiere.libelle}}</span>

                                            <span *ngIf="public.inscriptionFermer === true"> Etat : Fermé</span>
                                            <span *ngIf="public.inscriptionFermer === false"> Etat : Ouvert</span>
                                            <p style="font-size: 85%;" *ngIf="public.nbreMaxInscrits"> {{public.nbreMaxInscrits - public.nombreInscrit}} places disponibles</p>
                                            <p style="font-size: 85%;" *ngIf="!public.nbreMaxInscrits">Places disponibles <strong>illimitées</strong> </p>

                                        </div>
                                        <div class="sdb-cl-class">
                                            <ul>
                                                <li *ngFor="let formation of public.formations">
                                                    <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                        <h5>{{formation.libelle}}</h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="float: right ;">
                                        <a (click)="onFetchInscrits(public.id)"  
                                        class="details-line-btn">Details  ({{public.nombreInscrit}} inscrits)</a>
                                        <a style="margin-left: 0.5em;" class="read-line-btn">Fermer</a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>